[2014-02-05 22:10] yishaigalatzer opened #2 "Singleton support"
Today you can add a service by a type or as an instance, but there is still no way to do a service that's a singleton that depends on other services being injected.

[2014-02-05 22:12] yishaigalatzer opened #3 "Scoping support"
Scoping support for instantiating injected objects with context.
(e.g. instantiate a viewpage based on the current request context/model/etc.)

[2014-02-06 01:54] yishaigalatzer opened #4 "Generic extension method for ActivatorUtilities.CreateInstance"
Should probably have one ActivatorUtilities.CreateInstance<T> similar to how we have

ServiceProvider.GetService<T>

Or better yet, move the method from ActivatorUtilities to the ServiceProviderExtensions

So we get ServiceProvider.CreateInstance<T>()

[2014-02-11 21:02] loudej opened #8 "Define an ITypeActivator service tha calls ActivatorUtilities.CreateInstance"
Enables software to use the capability generically without a direct dependency to IServiceProvider, and without calling static method.

Also enables app author to replace or subclass the type activator, if they want to see/modify instances being activated

parent #16

[2014-02-21 20:00] anpete opened #13 "Better ServiceProvider constructor resolution"
Given a component with the following ctors:

MyComponent(IDependency)
MyComponent(IDependency, string)

ServiceProvider should be able to resolve the first constructor.

[2014-02-26 19:09] loudej opened #15 "Split builder from from service provider"
Need a class like ServiceCollection which is a collection of IServiceDefinition. ServiceCollection will have `IServiceProvider Build()` method. ServiceProvider won't be directly creatable, and will have no methods to change services after it's built.

[2014-02-26 19:40] loudej opened #16 "Service Provider Features"
This is looking into table details. parent aspnet/Universe#28

- :soon: : <code style="background-color:84b6eb"><a href="https://github.com/aspnet/DependencyInjection/issues?labels=enhancement">enhancement</a></code> <code style="background-color:CCCCCC"><a href="https://github.com/aspnet/DependencyInjection/issues?labels=3 - Done">3 - Done</a></code> #8 Define an ITypeActivator service tha calls

[2014-03-04 20:41] halter73 opened #19 "Create ServiceDescriptor Class"
- add utility method to make IServiceDescriptor:
  `IServiceDescriptor FooStatic.DescribeService(IConfiguration configuration, Type serviceType, Type implementationType, LifecycleKind lifecycle)`
- add bool AllowMultiple to IServiceDescriptor - this will be used in the fallback Create method, and the other container Populate methods

[2014-03-04 20:47] halter73 opened #20 "Add utility method to Populate Ninject"
- this populates and duck-punches the adjustments for required behaviors.
- `void static NinjectFooStatic.Configure(IEnumerable<IServiceDescriptor> services, IKernel container)`

[2014-03-04 20:50] halter73 opened #21 "Add utility method to Populate Autofac"
- this populates and duck-punches the adjustments for required behaviors.
- `void static AutofacFooStatic.Configure(IEnumerable<IServiceDescriptor> services, ContainerBuilder builder)`

[2014-03-04 20:54] halter73 opened #22 "Add utility method to Populate StructureMap"
- this populates and duck-punches the adjustments for required behaviors.
- `void static StructureMapFooStatic.Configure(IEnumerable<IServiceDescriptor> services, IRegistry registry)`

[2014-03-04 20:58] halter73 opened #23 "Add utility method to Populate Unity"
- this populates and duck-punches the adjustments for required behaviors.
- `void static UnityFooStatic.Configure(IEnumerable<IServiceDescriptor> services, IUnityContainer container)`

[2014-03-04 21:00] halter73 opened #24 "Add utility method to Populate Castle Windsor"
- this populates and duck-punches the adjustments for required behaviors.
- `void static CastleWindsorFooStatic.Configure(IEnumerable<IServiceDescriptor> services, IWindsorContainer container)`

[2014-03-04 21:02] halter73 opened #25 "Define assembly neutral IServiceScopeFactory interface with single IServiceProvider Create() method"
- also establish the service typeof(Func<IServiceProvider>)
- Invoke method is equivalent to typeof(IServiceScopeFactory) Create method

[2014-03-09 09:31] davidfowl opened #33 "Make ActivatorUtilities internal"
We have the ITypeActivator service so this can be internal

[2014-03-11 06:39] davidfowl opened #35 "Put ITypeActivator in the container"
Seems like it's not in the container at the moment. See aspnet/WebFx#70

[2014-03-17 18:56] rynowak opened #40 "ServiceDescriber can't be used with Open Generics"
We can't use `ServiceDescriber` to register open generic types like `INestedProvider<>` since it only provides generic methods.

We'd need something like:

[code]

[2014-03-18 16:14] Praburaj opened #44 "Routing on Helios + CoreClr throws Nullreference exception"
This looks to be related to the DI changes - Just filing a tracking item.

500 Internal Server Error
System.NullReferenceException: Object reference not set to an instance of an object.
at Microsoft.AspNet.Mvc.DefaultActionSelector.<SelectAsync>d__1.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSucc

[2014-03-18 16:17] #44 closed, assigned to nobody

[2014-03-18 19:11] halter73 opened #46 "Better exception messages in TypeActivator.CreateInstance"
TypeActivator.CreateInstance doesn't indicate whether or not the `instanceType` or `parameters` are invalid when a matching constructor cannot be found.

For example, the exception thrown when `instanceType` is in interface is the same exception thrown when the `parameters` provided that do not match any constructor.

[2014-03-19 05:23] loudej opened #49 "Is there a better home for IContextAccessor<T> implementation?"
Should interface be assembly neutral?
Should interface live in a carrier assembly?

[2014-03-19 21:22] loudej opened #50 "Need describing overloads that take Type"
Any method that takes `<TService>` or `<TService,TImplementation>` should also have overloads that take Type serviceType and Type serviceType, Type implementationType respectively. There are some cases where a type can't be expressed as a generic method parameter.

[2014-03-20 01:42] #8 closed, assigned to nobody

[2014-03-20 01:44] loudej opened #52 "ITypeActivator should have IServiceProvider passed in"
This would allow the type activator behavior to be decoupled from the lifecycle and container the activator was resolved from

[2014-03-20 01:47] loudej opened #53 "IContextAccessor ExchangeValue should be named SetValue"

[2014-03-21 19:01] rynowak opened #55 "Should we have a way to check if a service is available?"
Suggestion for WebFX view components is to resolve them from the container if possible, but right now there's no API for that. GetService will throw if the component type is not registerred.

[2014-03-26 16:34] victorhurdugaci opened #56 "Exception while initializing static field"
[code]

Invoking the Create action will produce the exception below. Without the static variable initialization, everything works fine.

[code]

[2014-03-26 22:50] #56 closed, assigned to nobody

[2014-04-04 21:50] halter73 opened #60 "Add first class support for registering open generic services with ServiceCollection"
Right now open generic services can only be registered with ServiceCollection by calling Add with IServiceDescriptors.

In this case, the provided IConfiguration object cannot be used to replace the service implementation type.

[2014-04-04 23:12] #60 closed, assigned to nobody

[2014-04-16 22:16] #52 closed, assigned to nobody

[2014-04-16 22:18] #40 closed, assigned to nobody

[2014-04-16 22:18] #35 closed, assigned to nobody

[2014-04-16 22:28] #4 closed, assigned to nobody

[2014-04-16 22:29] #55 closed, assigned to nobody

[2014-04-16 22:32] #3 closed, assigned to nobody

[2014-04-16 22:32] #16 closed, assigned to nobody

[2014-04-18 05:25] victorhurdugaci opened #62 "AddInstance<T>(object) should be AddInstance<T>(T)"
[code]

Since we know the type of the service from the generic parameter, the function parameter should be of type TService. This way, we prevent people from making mistakes.

I hit this issue then I registered an IMyObject but the implementation was actually Task of IMyObject

cc @halter73

[2014-04-18 23:06] davidfowl opened #63 "Expose a public static class for accessing the current service provider"
There are some instances where code will need to access to properly scoped service provider from code that doesn't flow it. We want to expose an assembly neutral static class that exposes a field with this property.

[code]

Suggestions for naming (namespace and type name are welcome) /cc @loudej @bricelam

[2014-04-21 18:07] victorhurdugaci opened #64 "Add support for binding to factory"
Feature proposal:

Today you can do:

[code]

But it would be nice to have an overload for AddInstance that accepts a Func<T> and late binds that instance. Something like:

[code]

The instance is resolved when it is requested for the first time.

A workaround is to bind bind to a factory object or Lazy<T> but it would nicer to have this out of the box.

[2014-04-22 18:32] HaoK opened #65 "Better support for generic types without default constructors"
This test passes (with no parameterless constructor, but a non generic service):

[code]

This fails: (There is no parameterless constructor on the base UserManager (same as with ApplicationUserManager)

[code]

Test Name:         CanUseSingletonGenericManagerInstance
Test FullName:  Microsoft.AspNet.Identity.Entity.Test.UserStoreTest.CanUseSingletonGenericManagerInstance
Test Source:       c:\Git

[2014-04-22 23:47] Eilon opened #66 "When overriding a service registration ensure that the lifetime is the same as what it's replacing"
E.g. if a built-in service is transient, do not allow an overridden service (e.g. user-supplied) to be singleton.

[2014-04-24 23:48] glennc opened #67 "Allow ServiceCollection add methods to accept a single T"
`services.AddTransient<ApplicationSignInManager>();`

This assumes TService and TImplementation are the same.

[2014-04-25 00:01] #67 closed, assigned to nobody

[2014-04-25 18:15] victorhurdugaci opened #69 "Ambiguous constructor matching is not working well"
This is a multi-issue bug but since the issues are extermly related, I'll open only one.

This bug is the result of an investigation around bug  https://github.com/aspnet/Identity/issues/50 . The RoleManager<T> class has two constructors both with parameters.

[code]

When one tries to resolve an instance, an exception saying that there is no parameter less constructor is thrown.

The out-of-the-b

[2014-04-25 23:00] #63 closed, assigned to bricelam

[2014-04-28 17:20] sebastienros opened #71 "Resolving IEnumerable<T> should return an empty list if nothing is registered"
Repro:
- Resolve `IEnumerable<INotRegistered>` where nothing is registered

Result
- The AspNet seems to return `null`

Expected
- Return `Enumerable.Empty<INotRegistered>()` or anything not `null`

It seems all other implementations work fine with this expectation.

[2014-04-29 23:06] HaoK opened #73 "Create assembly neutral IServiceCollection"
And move AddSetup extensions there

[2014-04-30 00:14] glennc opened #75 "Add TryGetService extension method"

[2014-04-30 15:25] lodejard opened #76 "Add an IServiceCollection.AddAssembly extensions method"
to assist in clean startup, usage optional by application of course

AddAssembly(assembly) extension method scans for public types

If the public type is creatable (class, non abstract) and a [ServiceDescriptorAttribute], add it to collection

ServiceDescriptorAttribute has a Lifecycle property, default is transient

ServiceDescriptorAttribute has a ServiceType property, default is null, null mean

[2014-04-30 23:59] yishaigalatzer opened #78 "Getting a service that's not available should thrown"
@loudej says it returns null and that should change to throw.

[2014-05-02 19:43] #73 closed, assigned to HaoK

[2014-05-02 19:43] #50 closed, assigned to Tratcher

[2014-05-02 21:48] anpete opened #79 "Memory leak when scoped SPs not disposed"
Repro:

[code]

[2014-05-05 22:17] #53 closed, assigned to Tratcher

[2014-05-05 22:17] #15 closed, assigned to nobody

[2014-05-13 18:59] GeertvanHorrik opened #84 "Support Catel IoC container"
I would like to add the Catel IoC as dependency injection fx. I am happy to contribute this, but it's still unclear whether you will accept it. Is it wise to wait and would you even accept such a pull request (in the future)?

[2014-05-15 20:21] HaoK opened #85 "IOptionsAccessor should not constrain TOptions with new()"
Also fix whatever else is needed to ensure the EFOptions(IConfiguration) that reads the connection string works

[2014-05-16 06:13] #84 closed, assigned to nobody

[2014-06-06 16:38] rynowak opened #88 "Throw when accessing a scoped service from a non-scoped service"
We hit an instance of this in MVC - see aspnet/Mvc#631

`UrlHelper` is a scoped service - and an attempt was made to resolve it from inside a singleton.

Can we throw if this happens?

[2014-06-09 21:48] NTaylorMullen opened #89 "Discuss third party DI containers API"
Currently it requires a ton of "boiler plate" code to utilize other DI containers such as Autofac.

We should discuss a more streamlined approach to DI than how we do it in the current world.

Autofac for example currently looks like:
[code]

Lets figure out what we "want" it to look like going forward.

[2014-06-16 19:07] halter73 opened #90 "Use custom interface instead of IServiceProvider"
Existing `IServiceProvider`s  typically do not follow the behaviors we expect. When an `IServiceProvider` fails to follow our implicit contract by, for example, returning null instead of returning an empty or populated `IEnumberable<IService>`, our chaining logic breaks down since our assumptions are violated.

[2014-06-24 23:54] pranavkm opened #93 "Could we make ITypeActivator scoped in the DI container?"
It seems a bit of a hassle to pass the IServiceProvider to the ITypeActivator when it's most likely that you'll be using the IServiceProvider that provided the ITypeActivator.

It would be convenient to have an overload that does not take the IServiceProvider but instead uses the service provider from the current scope that activated it.

[2014-06-26 20:25] #85 closed, assigned to HaoK

[2014-08-02 01:28] rustd opened #94 "Need to AddFunc to ServiceDescriptor"
We need to AddFunc here
https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection/ServiceDescriptor.cs#L14

[code]

It will do the following

[code]

[2014-08-07 01:17] HaoK opened #95 "Throw when resolving a scoped service from application services?"
There was a subtle bug in identity due to requesting a Scoped service from ApplicationServices instead of RequestServices: https://github.com/aspnet/Identity/issues/170

After investigating this with @halter73 he suggested it would be reasonable for DI to throw instead of effectively generating a singleton service

[2014-08-07 23:28] halter73 opened #96 "Rename the InKScope extension method defined in NinjectRegistration"
@yishaigalatzer suggested that a better name for `InKScope` might be `InRequestScope`.

[2014-08-08 04:54] gideonkorir opened #97 "ServiceProviderExtensions GetServiceOrNull does not check if serviceType is null"
Method checks if the provider is null twice line 56 and 61

[2014-08-17 00:37] #75 closed, assigned to nobody

[2014-08-17 00:40] #78 closed, assigned to nobody

[2014-08-17 00:41] #62 closed, assigned to nobody

[2014-08-17 00:43] #65 closed, assigned to nobody

[2014-08-17 00:44] #94 closed, assigned to nobody

[2014-08-19 07:35] nidilong opened #98 "Need support Lazy<T>"
DI should support Lazy<T>.
We don't want to instantiate immediately sometime.

[2014-08-21 11:28] erlimar opened #99 "Allow use outside of ASP.NET"
Add support for using Microsoft.Framework.DependencyInjection in non ASP.NET applications, console applications eg.

[code]

[2014-08-25 18:03] KKhurin opened #100 "Stress: ServiceProvider.CaptureDisposables gets called to capture the same instance multiple times"
... and this leaks memory for the scopes that stay around for a long time (App instance or long running requests).

So an obvious fix would be to store only one reference (e.g. replace the ConcurrentBag with a ConcurrentDictionary). But after looking a bit more into this I found out that this _only_ happens when disposable instances are created via DependencyInjection.ServiceLookup.ServiceProvider

[2014-09-07 15:19] oleksii-udovychenko opened #103 "How to actually use a custom DI container (or a factory)?"
I've been playing with the asp.net vnext for awhile, and your approach to the IoC bothers me. [Mark Seemann pointed](http://blog.ploeh.dk/2014/05/26/feedback-on-aspnet-vnext-dependency-injection/) that you are using a conforming container approach, which seems some kind of an anti-pattern to him. So my questions are:
- Is the IControllerFactory obsolete? Is there any other ext. points? Can I put m

[2014-09-12 20:37] divega opened #104 "Ability to register a Func<IServiceProvider, TDependency> to resolve instances of TDependency"
This is an idea that @loudej, @glennc and I discussed that could use to pass the IServiceProvider to DbContext instances without forcing customers to write complicated constructors in their derived DbContext classes. We would like to have this for beta to also make all the necessary changes in the EF DI registration extension methods.

[2014-09-12 22:27] halter73 opened #105 "Improve the performance of TypeActivator"
Currently, `TypeActivator` doesn't do any caching which could potentially be used to avoid expensive reflection calls for repeated activations of the same type. At the very least, it should be possible to cache the `ConstructorMatcher`s for any given type.

We will need to set up performance tests for `TypeActivator` before making any other progress on this issue so we can measure the impact of an

[2014-09-15 18:19] #64 closed, assigned to nobody

[2014-09-19 20:44] Praburaj opened #106 "DI should let register different set of services for different forks"
For example I have an application with 2 forks like below where I would like to register 2 different set of services based on the fork. Note: This is not introducing nested scope which is not supported right now.

[code]

This throws the following exception:

[code]

[2014-09-22 03:35] #106 closed, assigned to nobody

[2014-09-22 18:33] #103 closed, assigned to nobody

[2014-09-22 18:54] oleksii-udovychenko opened #107 "Cannot run tests with default configuration"
I have cloned the repo and tried to run tests. Here is the output

[code]

[code]

As far as I see the tests project tries to use lattest version of KRunner:

[code]

Am I doing something wrong? Maybe I should use some specific version? Maybe it is related to https://github.com/aspnet/Testing/issues/18?

[2014-09-23 17:06] #107 closed, assigned to nobody

[2014-09-25 21:17] sebastienros opened #108 "Refactor registrations to allow common usage patter"
Instead of having this code:

[code]

We would then have

[code]

[2014-09-28 20:59] GrabYourPitchforks opened #111 "New ServiceCollection.Add overloads"
Since K is a pay-for-play model, you should avoid loading assemblies into memory until it's absolutely guaranteed you're using them.  The current implementation of ServiceCollection does not allow this pay-for-play model since it requires you to register a concrete System.Type upfront, which means that the assembly containing that type will be loaded even if nobody ever requests the particular ser

[2014-09-29 19:20] #108 closed, assigned to nobody

[2014-10-02 01:30] suhasj opened #112 "UserServices with IServiceProvider needs to register OptionAccessor explicitly"
In the overloads of 'UseServices' method, the OptionsAccessor service is registered by default except the one that takes IServiceProvider. The error obtained when using the suggested method was not obvious and seems like should be either registered by default for it too or put at a place that is more visible.

[2014-10-02 02:04] #112 closed, assigned to nobody

[2014-10-02 02:11] suhasj opened #113 "Provide ToString implementation for ServiceDescriptor class"
We need to provide ToString implementation for the ServiceDescriptor class which can be them picked up by VS to make debugging easy. Right now going through the registered services when a break point is hit is kind of a pain since the we need to expand each one of them

![error](https://cloud.githubusercontent.com/assets/1919946/4486048/403a997e-49d9-11e4-98d2-1c9bff04ac69.png)

[2014-10-06 21:36] shhsu opened #115 "Rethink constructor selection logic for TypeActivator"
This is issue up by this change

https://github.com/aspnet/DependencyInjection/pull/114

Currently the way TypeActivator selects the constructor to use is (arguably) a bit arbitrary and not robust. We may need to revisit it.

[2014-10-08 02:42] halter73 opened #116 "Remove use of IConfiguration from ServiceCollection"
AddMvc, AddSignalR, GetDefaultServices, etc... already take in an IConfiguration object and use a ServiceDescriber to pull in replacement service implementations from config.

If you were to create your own ServiceCollection (which is atypical) and pass in an IConfiguration object to the constructor, it would not be respected by AddMvc and family.

For these reasons, we should remove the construct

[2014-10-08 02:45] halter73 opened #117 "Remove the Add* methods from (I)ServiceCollection that don't take in an IServiceDescriptor"
All of the Add\* methods in ServiceCollection that do not take in an IServiceDescriptor (e.g. AddTransient) can be implemented as extension methods in ServiceCollectionExtensions instead of in the ServiceCollection itself. Generally we prefer extension methods over regular methods all else being equal.

[2014-10-08 17:34] shhsu opened #118 "Remove ActivatorUtilities"
Related to PR
https://github.com/aspnet/DependencyInjection/pull/114

With the completion of TypeActivator, ActivatorUtilities has become obsolete. We should remove any dependencies to ActivatorUtilities and then remove that class.

[2014-10-09 01:55] #104 closed, assigned to pranavkm

[2014-10-09 22:37] yishaigalatzer opened #119 "Add GetServices Extension method to IServiceProvider"
See MVC 5.0 IDependencyResolver signature:

[code]

[2014-10-14 21:43] kirthik opened #120 "Register services for Mvc, SignalR implicitly if UseMvc or UseSignalR methods are called on IApplicationBuilder"
Today to use MVC or SignalR, I have add MVC, SignalR to ServiceCollection in addtion to adding MVC, signalR to IApplicationBuilder.

[code]

Can we implicity add AddMvc(), AddSignalR() to ServiceCollection if user has app.UseSignalR(), app.UseMvc(...)?
App developer can register services explictly if he/she wants to provide additional options but in a default case, this seems redundant.

[2014-10-16 11:23] ycrumeyrolle opened #122 "Do not raise System.Exception exception"
System.Exception is a too much general exception type.
You should use a more specific exception type like DependencyInjectionException.

[2014-10-17 19:33] halter73 opened #124 "Benchmark and profile the ServiceProvider"
As part of PR https://github.com/aspnet/DependencyInjection/pull/121, we made some changes to improve the performance of service resolution from ServiceProvider.

However, as of yet, we have not specifically benchmarked the performance of ServiceProvider. We should create some microbenchmarks for ServiceProvider so we can measure the performance impact of the changes we make to ServiceProvider and

[2014-10-21 21:17] HaoK opened #125 "TypeActivator should use DefaultValues for optional arguments in constructors"
Ran into this a lot when trying to specify an optional last argument like optionsName = null...

A class like so:

[code]

When type activating, the logic should allow omitting the optional argument, I believe a fix like this should work, in TypeActivator.cs

[code]

[2014-10-21 23:41] #116 closed, assigned to pranavkm

[2014-10-22 18:00] ajcvickers opened #127 "GetService throws TargetInvocationException when something fails"
TargetInvocationException isn't usually very helpful and just exposes an implementation detail. Consider using

[code]

so that the more useful inner exception is thrown.

[2014-10-27 16:39] #2 closed, assigned to nobody

[2014-10-27 16:39] #19 closed, assigned to nobody

[2014-10-27 17:16] #117 closed, assigned to pranavkm

[2014-10-27 17:31] #93 closed, assigned to nobody

[2014-10-28 00:33] divega opened #128 "Consider adding GetDefaultServices() and AddDependencyInjection() to DI"
Currently DI defines and provides default implementation of services, e.g. `ITypeActivator` and `IContextAccessor` but unlike most other framework components it does not define either a `GetDefaultServices([IConfiguration])` method or an `AddDependencyInjection(this IServiceCollection, [IConfiguration])` sugar extension method. Perhaps the reasoning was been that it is DependencyInjection itself a

[2014-10-30 18:47] lodejard opened #130 "IServiceCollection could be IList instead of IEnumerable?"
Right now it has enumerate and add operations. There was at least one case in app-building where removing a service was needed.

[2014-11-04 18:49] HaoK opened #131 "StackOverflowException with circular ctor references"
If two classes ctors take each other, DI will stack overflow.

[2014-11-04 19:57] #125 closed, assigned to nobody

[2014-11-06 19:12] HaoK opened #132 "Consider renaming IContextAccessor -> IContext?"
Matches what we did with options and I don't think there's much loss of meaning

[2014-11-07 16:42] Tragetaschen opened #134 "Ninject gives a cyclical dependency error with MVC"
Steps to reproduce: Add the following code in an empty vNext (alpha4) Startup.Configure method:

[code]

This gives a 500 startup error:

[code]

[2014-11-07 20:20] pranavkm opened #135 "For all the ServiceDescriber and ServiceCollection methods that use generic constrainsts we should add type constraints"
For e.g.
`public ServiceDescriptor Transient<TService, TImplementation>()`

should be

`public ServiceDescriptor Transient<TService, TImplementation>() where TImplementation : TService`

This would give us compile time failures rather than runtime failures when we do something silly like:

`describer.Transient<IFoo, int>();`

[2014-11-08 15:11] DerAlbertCom opened #136 "StructureMap DI Adapter"
Hi @halter73,

i worked "hard" on the StructureMap Adapter, i've got all test green (solved the scoping problem).
But that i run the the MVC Functional Test Suite against StructureMap instead of AutoFac. And it fails on resolving IContextAccessor<HttpContext> :/

I thought that has something to do that i have a problems (trying to resolve that in the sm-mailing list) to call the FallbackServicePro

[2014-11-09 04:26] Rick-Anderson opened #137 "All Autofac have services are transient, even when using Singleton or Scoped"
When using Autofac, your service is treated like transient, even when using Singleton or Scoped.
Tested with KRE-CLR-x86.1.0.0-beta2-10677

To repro:
1. Create a new ASP.NET 5 Starter Web.
2. remove aspnetcore50 from project.json ( core doesn't support autofac right now) and add autofac
 "Microsoft.Framework.DependencyInjection.Autofac": "1.0.0-*"
3. Add MyService.cs:
public class MyService : IMyS

[2014-11-09 04:57] #137 closed, assigned to nobody

[2014-11-12 23:40] HaoK opened #138 "Consider support for scanning for default services"
Perhaps something like IServiceCollection.AddDefaultServices() to opt in, which then will scan all assemblies and add all default services via something like IHasDefaultServices.GetDefaultServices()

[2014-11-12 23:48] #134 closed, assigned to nobody

[2014-11-14 17:40] jeremydmiller opened #139 "Reconsider the "fallback" service approach"
I think the fallback approach to make each container implementation try to fallback to an external service provider is a mistake because:
- Each container is going to have very different capabilities for dynamic resolution
- It at least partially knocks out the diagnostics built into the various IoC tools
- It's potentially more complicated when it comes time to debug runtime problems when depende

[2014-11-16 09:56] #136 closed, assigned to nobody

[2014-11-17 23:51] #139 closed, assigned to nobody

[2014-11-17 23:53] #138 closed, assigned to nobody

[2014-11-18 00:00] #132 closed, assigned to nobody

[2014-11-18 00:08] #130 closed, assigned to nobody

[2014-11-18 00:31] #120 closed, assigned to nobody

[2014-11-18 00:42] #118 closed, assigned to nobody

[2014-11-18 00:43] #115 closed, assigned to nobody

[2014-11-18 00:48] #111 closed, assigned to nobody

[2014-11-24 07:14] davidfowl opened #143 "Consider moving Autofac Populate extension method to Autofac namespace"
Would make it more discoverable.

[2014-11-24 17:44] #135 closed, assigned to pranavkm

[2014-11-24 20:08] #100 closed, assigned to nobody

[2014-12-01 17:46] #128 closed, assigned to nobody

[2014-12-01 17:52] #131 closed, assigned to victorhurdugaci

[2014-12-01 18:12] #113 closed, assigned to victorhurdugaci

[2014-12-02 18:56] victorhurdugaci opened #146 "Remove the "TODO" from exception messages"
Remove the TODO and move the strings to resource files.

I think this goes together with https://github.com/aspnet/DependencyInjection/issues/122

[2014-12-03 18:12] #146 closed, assigned to victorhurdugaci

[2014-12-03 18:34] #122 closed, assigned to victorhurdugaci

[2014-12-05 21:11] #66 closed, assigned to nobody

[2014-12-09 04:30] #95 closed, assigned to suhasj

[2014-12-09 20:45] #105 closed, assigned to halter73

[2014-12-10 00:08] #96 closed, assigned to victorhurdugaci

[2014-12-10 16:47] Tragetaschen opened #152 "Custom attributes are lost when resolving types"
I'm using Ninject for dependency resolution. My main motivation is the [Named contextual bindings](https://github.com/ninject/Ninject/wiki/Contextual-Binding#simple-constrained-resolution-named-bindings) feature. This relies on the NamedAttribute on the parameter to be available when resolving a type.

This is currently not possible, since IServiceProvider only has a Type-based GetService method a

[2014-12-11 01:08] ajcvickers opened #153 "Attempting to use Music Store with Ninject results in cyclic dependency error"
See https://github.com/aspnet/EntityFramework/issues/1241. When removing this line in Startup.cs
[code]
which is not needed if the database exists, the result is this exception:

[code]

[2014-12-12 02:45] #127 closed, assigned to halter73

[2014-12-16 03:29] halter73 opened #155 "Add a way to replace services in an IServiceCollection"
Currently, it isn't possible to replace or remove `IServiceDescriptors` in an `IServiceCollection`. The best you can do is to copy into a new collection only the descriptors you want to keep unmodified. Then you can add new descriptors to replace any descriptors from the original collection that you didn't copy over. This is a pain.

Previously, I thought we could work around this issue by dependi

[2014-12-31 04:53] avanderhoorn opened #158 "Add component that deals with the abstraction between callcontext/asynclocal"
As a developer, in cases where I need to access request scoped data from within singleton instances, I would like a component that deals with the abstraction between callcontext/asynclocal - `IScopedData<T>`. I could do this manually myself, but this seems like something that should be commonly handled.

This came out of a discussion I had with @davidfowl on Jabbr.

[2015-01-16 11:42] ilmax commented on #155
Is this needed to replace framework registered services with custom implementation?

[2015-01-16 14:25] ilmax opened #161 "Add Debugger attributes to IServiceDescriptor"
Since IService Collection is used in some part, it can be useful to simplify inspection of it's elements.

[2015-01-16 18:55] halter73 commented on #155
It is needed to do it easily in a way that will work with all IoC containers (such as Ninject).

As I mention in the issue, you can always create a new `IServiceCollection` that copies everything but what you want to replace.

[2015-01-16 19:04] ilmax commented on #155
@halter73 what you need replace service for?

[2015-01-16 19:12] halter73 commented on #155
There are many framework services that have default implementations that need to be replaced in some scenarios.

For example, you might want to replace SignalR's default in-memory `IMessageBus` with a [Redis based message bus](http://www.asp.net/signalr/overview/performance/scaleout-with-redis).

[2015-01-16 20:58] ilmax commented on #155
It appears to me that this way of replacing services is not well discoverable, I would like change something on a configuration object, not replace a servicedescriptor in a collection of service descriptors.

Since almost every repo here uses the pattern services.AddXXX() to register default services, this could accept a configuration object where I can replace default services. I think this is a

[2015-01-20 13:09] Ph47 opened #162 "IServiceCollection not found in Microsoft.Framework.DependencyInjection"
Today after last update DependencyInjection broke.

Broken code here: https://gist.github.com/Ph47/fb78936df0786e5c0f2a

"kpm build" says:

kre is 1.0.0-beta3-10921

I tried different version of Microsoft.Framework.DependencyInjection and last is 1.0.0-rc1-10711

At DependencyInjection version 1.0.0-beta3-10754 other symptoms. Compilation goes fine, but on "k web" i have exception:

[2015-01-20 17:38] Eilon commented on #162
Clear out  `%UserProfile%\.kpm` because there might be some other bogus `rc1` packages there. The latest is all supposed to be `beta3` but we inadvertently published some `rc1` packages.

[2015-01-22 08:58] Ph47 commented on #162
Eilon Thanks! Clearing packages solve my problem.

[2015-01-22 08:58] #162 closed

[2015-01-30 00:07] pranavkm opened #164 "Provide a nicer delegate for `ActivatorUtilities.CreateFactory`"
It'd be much nicer to have a delegate returned as a result of `ActivatorUtilties.CreateFactory` rather than returning a raw Func as it does today:

[code]

The resulting code at the consumer end looks a lot nicer:

[code]
versus

[code]

[2015-01-30 20:40] #164 closed

[2015-02-02 22:43] kirthik opened #167 "ActivatorUtilities CreateFactory does not throw an exception if constructor parameter is not registered"
I have a class with a constructor that takes a service as a parameter and the service is not registered
[code]

For the above scenario, if I call `ActivatorUtilities.CreateFactory(...)`, `dependency` comes back as null instead of throwing an exception. `ActivatorUtilities.CreateInstance` throws InvalidOperationException

[2015-02-04 18:06] kirthik commented on #167
checked in - a534cd1de2fc813e04ddc14420f904ff53891f64

[2015-02-04 18:06] #167 closed

[2015-02-06 01:21] pranavkm opened #170 "ActivatorUtilities.CreateFactory throws TypeAccessException in CoreCLR"
[code]
Spoke to @GrabYourPitchforks and he suggested a very simple fix for this.

We could have caught this earlier, however unit tests for DependencyInjection are currently only run on ASPNET50. I'll make changes to so that they additionally run on ASPNETCORE50.

[2015-02-07 22:55] #170 closed

[2015-02-08 19:01] pranavkm commented on #155
I should've read this thread before jumping the gun. Based on @davidfowl 's suggestion I added a `Replace` extension method to `IServiceCollection` as part of https://github.com/aspnet/DependencyInjection/pull/172. Mvc uses this method to override a service registered by default - https://github.com/aspnet/Mvc/pull/1908/files#diff-3873192961235e19b67b85342bec5373R80. Since this isn't a user provid

[2015-02-08 19:37] yishaigalatzer commented on #155
3 works for me, as it works correctly in most cases, and throws when something unexpected happens. But I see how 2 is simpler and also works in more cases. 1 is just weird.

When it comes to configuration

At least in MVC we are strongly encouraging users not to replace services (that's a last resort large hammer approach), and we attempt provide all the required extensibility through `MvcOptions`

[2015-02-08 23:20] ilmax commented on #155
@yishaigalatzer I hope this Replace will throw if called after the container is fully configured (e.g after serving the first instance or after manually locking the configuration) otherwise I think it will be a source of pain.

I wasn't referring to service replacement, but instead to service registration. All user replaceable services can be put on a configuration object used by MVC for services

[2015-02-08 23:22] davidfowl commented on #155
Replace is on the service collection not the the service provider

[2015-02-09 01:46] yishaigalatzer commented on #155
1. What @davidfowl said. Replace works on the service collection not on the service provider (or the DI container). Think of the `ServiceCollection` as the configuration object.
2. There are no user replaceable services, that's the point i'm trying to make. They are all not intended to be replaced, at least not without taking a huge responsibility to understand what and how they interact with othe

[2015-02-09 03:52] yishaigalatzer opened #173 "Remove AddScopedInstance extension method as its confusing"
See discussion here https://github.com/aspnet/DependencyInjection/commit/b3f137eaab3366f3e03b047d1ff6fb40bb26cbdc#commitcomment-9644414

[2015-02-09 04:06] yishaigalatzer opened #174 "Should we remove support for remapping service types through configuration"
https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection/ServiceDescriber.cs#L130

We keep telling customers that we don't want them to swap out services, but the mechanism above provides a very straightforward first class support to do just that. It is also very basic as it has no subkey required.

I'm suggesting we remove this completely, or make it a mo

[2015-02-09 04:21] davidfowl commented on #174
We need this for services that come from hosting, (things that happen before the application entry point is invoked).

[2015-02-09 07:06] yishaigalatzer commented on #174
Is it possible to limit it by default to this scenario? And if not should we put it under a ServiceReplacement node?

[2015-02-09 19:22] yishaigalatzer commented on #161
ServiceDescriptor is already covered with [DebuggerDisplay]

https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection/ServiceDescriptor.cs#L9

DebuggerAttribute cannot be defined on an interface.

 [AttributeUsage(AttributeTargets.Assembly | AttributeTargets.Class | AttributeTargets.Struct | AttributeTargets.Enum | AttributeTargets.Property | AttributeTarg

[2015-02-09 19:22] #161 closed

[2015-02-09 19:23] ilmax commented on #155
@davidfowl @yishaigalatzer Thanks, this all make sense now.

[2015-02-09 23:29] #173 closed

[2015-02-20 20:10] Eilon opened #178 "Move INestedManager et al to MVC"
Need to move [INestedManager](https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection/NestedProviders/INestedProvider.cs) and related types from the DI repo to the MVC repo.

@yishaigalatzer @lodejard @davidfowl

[2015-02-21 23:05] wwwlicious commented on #119
+1 I was looking for this recently, instead has to register a collection which just seemed...not very DI

[2015-02-21 23:09] wwwlicious commented on #99
@davidfowl for r4mvc we want to extend/register types in a ICompileModule, you don't really have access to the external container to modify it so you have to create you own afaik

[2015-02-21 23:12] davidfowl commented on #99
Sounds like the wrong approach to extend the container. ICompileModule is about compiler extensibility.

[2015-02-21 23:16] wwwlicious commented on #99
ah, would welcome [some feedback[(https://github.com/wwwlicious/R4MVC/blob/master/src/R4Mvc/R4MVCCompilerModule.cs#L38) then if you have the time. I tried a few things but so far I came up with [this](https://github.com/wwwlicious/R4MVC/blob/master/src/R4Mvc/Ioc/IocConfig.cs), is that a horrible thing to do?

[2015-02-21 23:41] davidfowl commented on #99
@wwwlicious I wouldn't add anything to this issue as it has nothing to do with what you're trying to do (and I'm not even sure what that is).

[2015-02-22 01:22] yishaigalatzer commented on #119
@wwwlicious you don't register a collection instead register multiple services and resolve an 'ienumerable<servicetype>'

[2015-02-22 01:23] Eilon commented on #119
@yishaigalatzer close this bug then?

[2015-02-22 01:26] wwwlicious commented on #119
ah, like this?
[code]

[2015-02-22 03:08] yishaigalatzer commented on #119
@eilon I plan to modify it a bit and submit a pr. Just a simple sugar on top API
@wwwlicious yup, that's it

[2015-02-23 14:18] wwwlicious commented on #119
FYI, this didn't work when using constructor injection for IEnumerable<TInterface>

[2015-02-23 16:02] yishaigalatzer commented on #119
@wwwlicious we are using this pattern regularly in the framework.
I don't know if we support resolving a generic interface though.

This works:
[code]

If you find that it doesn't can you provide a full sample so we can investigate (in a separate issue please :))

[2015-02-23 23:09] #119 closed

[2015-02-23 23:09] #178 closed

[2015-03-01 09:16] ryan-codingintrigue opened #182 "Internal constructor causes vague exception message"
I've just spent a decent amount of time trying to debug the following exception:

Turns out all that was wrong was the constructor for my concrete implementation was marked as `internal`. Changing it to `public` works fine. I understand why, but the exception message was not helpful in trying to diagnose the issue.

[2015-03-04 01:02] muratg opened #183 "API review: Remove IServiceDescriptor interface"
- Move ServiceDescriptor to interfaces assembly
- Use ServiceDescriptor in place of IServiceDescriptor

[2015-03-04 01:04] muratg opened #184 "API review: Rename LifecycleKind to ServiceLifetime"

[2015-03-04 01:37] muratg opened #185 "API review: IServiceCollection changes"
- [ ] Make the interface implement IList instead of ICollection. IList matches ordered
- [ ] Remove ```IServiceCollection Add(IServiceDescriptor descriptor)``` method to avoid conflict with IList.add

[2015-03-04 01:38] muratg opened #186 "API review: IScopedInstance needs design discussion"
- What do we do with this interface?
-  ScopedInstance<T> also needs to be discussed

[2015-03-04 01:40] muratg opened #187 "API review: Rename Microsoft.Framework.DependencyInjection.Fallback namespace"
Drop Fallback to rename it to ```Microsoft.Framework.DependencyInjection```

[2015-03-04 01:42] muratg opened #188 "API review: IEnumerableServiceDescriptorExtensions changes"
Change ```IServiceProvider BuildServiceProvider(this IEnumerable<IServiceDescriptor> services)``` method to to accept ```IServiceCollection``` instead of IEnumerable.

[2015-03-04 01:44] muratg opened #189 "API review: Move MultiServiceHelpers to test assembly."

[2015-03-04 01:45] muratg opened #190 "API review: Remove ITypeActivator interface"
ObjectFactory replaces this.

[2015-03-04 01:47] muratg opened #191 "API review: Remove TypeActivator and extensions"
Remove:
- TypeActivator
- TypeActivatorExtensions

[2015-03-04 01:48] muratg opened #192 "API review: Remove ServiceCollectionExtensions.AddTypeActivator"
Remove ```ServiceCollectionExtensions.(this IServiceCollection services, IConfiguration config=null)``` extension.

[2015-03-04 01:52] muratg opened #193 "API review: Remove ServiceDescriber"
Describer work needs to go to hosting. Need better hosting configuration story.  Assigning to @HaoK per API review meeting.

[2015-03-04 01:53] muratg commented on #193
@HaoK Do we need to file Hosting items as well?

[2015-03-04 17:53] HaoK commented on #184
I can do this as part of the ServiceDescriptor change, its going to touch most of the same code in all the repo's

[2015-03-04 17:55] HaoK commented on #183
Will do this as part of https://github.com/aspnet/DependencyInjection/issues/193

[2015-03-04 17:59] HaoK commented on #174
@davidfowl Config Service replacement is going away via removal of ServiceDescriber, do you want me to keep the functionality in some form but moved into Hosting as part of the removal, or can I just file a work item (are we relying on this behavior today in hosting?)

[2015-03-04 18:02] HaoK commented on #187
This will touch all the same places as ServiceDescriber, I can do it at the same time

[2015-03-04 18:04] HaoK commented on #188
I can do this as part of my wave of changes

[2015-03-05 02:03] #188 closed

[2015-03-05 02:03] #183 closed

[2015-03-05 02:03] #184 closed

[2015-03-05 02:03] #187 closed

[2015-03-05 02:04] HaoK commented on #193
Needed until MVC functionals are updated to no longer use this

[2015-03-05 06:27] GrabYourPitchforks commented on #193
There are tons of useful factory methods hanging off `ServiceDescriber`. If we get rid of the type, I propose moving these to static methods on `ServiceDescriptor` instead.

[2015-03-05 06:33] GrabYourPitchforks opened #197 "ActivatorUtilities prefers default ctor over parameterful ctor"
Define a class with two constructor overloads:

`.ctor()`
`.ctor(IServiceProvider services)`

`ActivatorUtilities.CreateInstance` will call the parameterless ctor even though the parameterful ctor is a better match.

[2015-03-05 07:53] HaoK commented on #193
I already copied all of them to descriptor as statics. so that is already done as part of the initial push.

[2015-03-05 07:57] davidfowl commented on #193
@HaoK that code should all be in interfaces. The main package should serve purely as our default implementation.

[2015-03-05 08:00] GrabYourPitchforks commented on #193
Not sure how I missed that earlier. Thanks @haok!

[2015-03-05 08:02] HaoK commented on #193
@davidfowl yeah that's where they are there: its very hard to differentiate between ServiceDescriPTOR vs ServiceDescriBER, but right now they both have the same sugar https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection.Interfaces/ServiceDescriptor.cs#L81

[2015-03-05 08:06] davidfowl commented on #193
I am blind.

[2015-03-05 08:07] davidfowl commented on #193
@HaoK Who is assigned to update the MVC functional tests?

[2015-03-05 08:13] HaoK commented on #193
I still need to file an issue for that, they are blocked until I get the HostingServices.Create changes in, so I'll file an issue in MVC once I push that PR and assign it to @rynowak to switch MVC functionals over

[2015-03-05 08:24] davidfowl commented on #193
We should try to get those changes in asap.

[2015-03-05 18:25] BrennanConroy commented on #185
The Add(IServiceDescriptor descriptor) method doesn't conflict with anything, and a lot of code uses that method. Can we keep it?

[2015-03-05 18:30] GrabYourPitchforks commented on #185
The downside to having `Add(ServiceDescriptor) : IServiceCollection` as a proper interface method is that you can't simply new up a `List<ServiceDescriptor>` and cast it to the `IServiceCollection` interface. If this were instead an extension method then this scenario would just work.

[2015-03-05 19:27] BrennanConroy opened #198 "."

[2015-03-05 19:37] BrennanConroy commented on #185
Ok, I'll make it an extension method if people are ok with that.

[2015-03-05 20:36] #198 closed

[2015-03-06 00:48] #192 closed

[2015-03-06 00:48] #191 closed

[2015-03-06 00:48] #190 closed

[2015-03-06 00:48] #189 closed

[2015-03-06 00:49] #185 closed

[2015-03-06 09:57] davidfowl commented on #193
Where are we on this one? /cc @dougbu

[2015-03-06 15:16] dougbu commented on #193
working on it.  down to a couple of hundred failing functional tests (from over a thousand).  debugging the order things run and their precedence...

@davidfowl / @HaoK stop by when you get in.  I may be doing exactly the Wrong Thing:tm:

[2015-03-07 07:52] dougbu commented on #193
see PRs aspnet/Hosting#184 (now commits aspnet/Hosting@89a1ec1 through aspnet/Hosting@ee55e38) and aspnet/Mvc#2137.  those should enable completion of this work in aspnet/DependencyInjection.

[2015-03-07 18:04] muratg commented on #193
Thanks @dougbu. @HaoK are there any other blockers?

[2015-03-07 18:15] HaoK commented on #193
I don't believe so should be good to go now.

[2015-03-07 19:38] muratg commented on #193
:+1:

[2015-03-09 03:33] davidfowl commented on #186
@HaoK @rynowak @dougbu @divega

Is it just MVC that uses this? We'd like to get rid or it.

/cc @lodejard

[2015-03-09 04:10] dougbu commented on #186
@davidfowl a quick search of Universe shows `IScopedInstance` use in MVC and Entropy (but that's probably MVC-related).  MVC uses the interface / default implementation to make some per-request contexts (`ActionContext`, `ActionBindingContext`, and `AntiForgeryContext`) available to MVC services without sticking the contexts directly into DI.  are you suggesting we move `IScopedInstance` and `Scop

[2015-03-09 04:20] HaoK commented on #186
Yeah when I did the rename i think it was only MVC/Entropy as well.  +1 to just move these to MVC

[2015-03-09 04:22] HaoK commented on #49
This is a dupe of https://github.com/aspnet/DependencyInjection/issues/186 since ContextAccessor got renamed to IScopedInstance...

[2015-03-09 04:22] #49 closed

[2015-03-09 04:24] HaoK commented on #186
Some more context in Issue #49, it made more sense in DI when HttpContext was using this as part of the RequestContainer/Hosting code.  But now that hosting is using its own HttpContextAccessor, there doesn't seem to be a reason to keep this shared anymore

[2015-03-09 04:32] davidfowl commented on #186
Yea, I think step 1 is to remove the it from DI and step 2 is to figure out if MVC should be using this pattern at all. Last we discussed it it was an anti pattern like ITypeActivator.

[2015-03-09 21:09] muratg commented on #186
Who would be doing the first step (i.e. remove it from DI and move it to MVC temporarily)? @rynowak

[2015-03-09 21:12] HaoK commented on #186
I can do step 1 if needed, it shouldn't be hard

[2015-03-09 21:18] muratg commented on #186
:+1:

[2015-03-10 17:34] kiide opened #203 "Add generics suport in AddScoped"
Hi guys, If I have a generic repository, i have write all injection code on Startup.cs

![image](https://cloud.githubusercontent.com/assets/5432753/6580903/3fea67b6-c732-11e4-9ba7-cdb584e800f7.png)

Exists support or any mode for generic injection?

![image](https://cloud.githubusercontent.com/assets/5432753/6580912/58c00926-c732-11e4-94d1-6b5d14e3b4b3.png)

[2015-03-10 17:41] davidfowl commented on #203
/cc @HaoK

[2015-03-10 20:09] HaoK commented on #203
Can't you just do services.AddScoped(typeof(Repo<>), typeof(Repo<>))?

[2015-03-10 20:15] davidfowl commented on #203
Yep

[2015-03-10 20:15] #203 closed

[2015-03-10 20:20] HaoK commented on #69
cc @davidfowl @lodejard can we do this?  Add some attribute to say use this ctor for DI?  I'll pony up the time to do this, especially if this lets me add back the simple non DI ctors for identity again... @divega

[2015-03-11 05:57] dougbu commented on #193
aspnet/Mvc@cc7b319 now in.  should unblock fixing this issue.

[2015-03-11 09:11] davidfowl commented on #193
Ok time to nuke it

[2015-03-11 09:11] #98 closed

[2015-03-11 09:12] #99 closed

[2015-03-11 09:12] davidfowl commented on #182
Do you want to send a PR for this?

[2015-03-11 09:13] #152 closed

[2015-03-11 09:13] #25 closed

[2015-03-11 09:13] #33 closed

[2015-03-11 09:14] davidfowl commented on #46
This type is dead do we need to do something for the ObjectFactory /cc @pranavkm

[2015-03-11 09:14] #174 closed

[2015-03-11 09:15] davidfowl commented on #97
@gideonkorir Do you want to send a PR for this?

[2015-03-11 09:15] davidfowl commented on #90
Should we close this?

[2015-03-11 09:16] davidfowl commented on #79
Is this still a thing?

[2015-03-11 13:40] kiide commented on #203
Oh sorry guys, I has tried it yesterday before open this issue :c but i try again now and works perfectly! You are awesome!

[2015-03-11 16:15] GrabYourPitchforks commented on #90
Yup - this is no longer necessary.

[2015-03-11 17:40] muratg commented on #193
Cool, @HaoK can you get it in?

[2015-03-11 17:46] HaoK commented on #193
Yah I'll carpet bomb in a bunch of easy cleanup changes on my plate today now that builds are stable.

[2015-03-11 18:32] #193 closed

[2015-03-11 19:19] #186 closed

[2015-03-16 14:18] ryan-codingintrigue commented on #182
I can certainly give it a go

[2015-03-16 17:55] Praburaj opened #208 "Review if a package description is needed for these packages"
[code]

[2015-03-20 17:38] gideonkorir commented on #97
@davidfowl the method has been removed from development branch can't find it. Also getting same error as this guy: http://stackoverflow.com/questions/29075247/open-xproj-in-visual-studio-2015-ctp-6

[2015-03-27 08:26] HaoK opened #210 "NullRef in ctor invocation"
Ran into this when I accidentally did `services.AddTransient<IFoo, IFoo>()` and then had another class ctor `public Ctor(IFoo foo)`.  DI throws a Null ref deep inside of trying to invoke the ctor instead of a useful error message that was swallowed (cannot create an instance of an interface)

[2015-04-01 17:12] #20 closed

[2015-04-04 23:45] Eilon commented on #208
You mean "is *needed*"? Otherwise not sure what the issue is here.

[2015-04-05 01:32] Praburaj commented on #208
Some of the packages are missing description while doing a scan of universe. Some of the packages need not have description. So I filed bugs with a generic title in all repos to review if a package description is needed :smile:

[2015-04-05 17:09] davidfowl opened #219 "Consider moving ServiceCollection.cs to Microsoft.Framework.DependencyInjection.Interfaces"
Even though it's not an interface, it actually makes sense to move it there so that people trying to test out their implementations without having to rely on our DI container implementation.

/cc @glennc @muratg @lodejard

[2015-04-05 18:46] Eilon commented on #208
Ah ok it's just the title of the bug that was wrong (it was missing the word "needed" :smile: ).

[2015-04-05 19:44] davidfowl commented on #208
Feels like we can remove all of the 3rd party providers now.

[2015-04-06 00:07] davidfowl commented on #89
Feels like this can be closed:

[code]

How much boiler plate do you want to remove

[2015-04-06 00:13] davidfowl commented on #89
One thing we *could* do, is have another interface to get the IServiceProvider from whatever you return from ConfigureServices. Lets call this `IServiceProviderProvider` because why not. The code would look like this:

[code]

In theory though, if we treated our DI container as a 3rd party DI container instead of being baked into Hosting, it might be easier to come up with something more universal

[2015-04-06 11:37] davidfowl opened #220 "Disable ninject tests on mono"
Ninject seems to be broken on mono:

[code]

[2015-04-06 12:54] Tragetaschen commented on #220
That's mono that is broken and doesn't implement certain reflection API. Ninject has a special version Mono for that reason (define MONO in the build). Of course, Ninject has a strong name, so a drop-in replacement doesn't work.

Yay!

[2015-04-07 00:32] davidfowl commented on #220
Good to know. We don't have a separate target platform for mono

[2015-04-29 23:26] muratg opened #225 "Pkg rename: Microsoft.Framework.DependencyInjection.Interfaces -> Microsoft.Framework.DependencyInjection.Abstractions"
See https://github.com/aspnet/Announcements/issues/8#issuecomment-97566113

[2015-04-30 00:31] BrennanConroy commented on #225
https://github.com/aspnet/DependencyInjection/commit/bd02370d328243c27304bd38229ccd3245579b80

[2015-04-30 00:31] #225 closed

[2015-04-30 20:19] jeremydmiller commented on #89
@davidfowl Just a quick comment on your code up above, maybe add an extension method where you just pass in a pre-built StructureMap/Ninject/Autofac container to make it declarative. The equivalent in FubuMVC was something like:

```FubuApplication.DefaultPolicies.StructureMap(IContainer container)``` that would take in a Container then add in all the FubuMVC specific services and set up our servi

[2015-05-01 06:17] jgauffin commented on #71
+1

[2015-05-06 13:25] vadimwind opened #228 "Add an ability to bind same interface to several implementations"
It can be similar to the Ninject Named binding:

`serviceCollection.AddScoped<IRepository, DefaultRepository>("Default");`
`serviceCollection.AddScoped<IRepository, AnotherRepository>("Another");`
...
`var repository = provider.GetService<IRepository>("Default");`

[2015-05-06 13:47] ninety7 opened #229 "How can I get an injected instance outside a controller?"
I have a multi-project solution where the ASP.NET 5 project references a class library project (vnext). The class library project has a few classes where I'd like to inject a the options model configured on the Startup.cs class of the web project.
[code]
I have googled for a way to do this with no success, can anybody shed me some light on the matter?

[2015-05-09 06:04] mrchief opened #232 "Autofac works, rest are broken?"
Using the standard RC web template in VS 2015 RC, it seems that only Autofac works while other 3rd party DI containers fail in one way or other. The simple test is `Open a new project > customize DI > Run > Access Log in from menu`

For example, trying this code in `public IServiceProvider ConfigureServices(IServiceCollection services)`, here's what other DI containers output:

**SimpleInjector**

[2015-05-09 12:45] sblackler opened #233 "Add profile 259 support"
Currently the framework only supports Profile7. I would like to see expanded support for Profile259 so that we can use the abstractions here in more scenarios as we build our class libraries.

[2015-05-13 01:32] atrauzzi opened #235 "Suggestion: Rename ServiceDescriptor"
I think for most people, "descriptor" - while an okay term - is a bit heavy.   Digging into things, it was easy enough to figure out what was being done.  But the generic name did make me second guess my own understanding.

For something that will be pretty commonly used, maybe it would be nicer to have an idiomatic name like "BindAs" or "BindingType".  I noticed in #184 and #194 that there's a co

[2015-05-13 01:35] davidfowl commented on #235
I don't this it warrants the amount of pain that will be caused by another major rename. I think the names are fine, but that's my personal opinion. We have already done API reviews for DI and this API is pretty much "stable".

[2015-05-13 02:24] atrauzzi commented on #235
Is it sound to forego an opportunity because decisions have been made in the past over what's in question?  I appreciate my suggestion is subjective, but this is a highly visible chunk of the API that reads heavy like Java.

Is this more complicated than a find+replace across all ASP.NET properties?

[2015-05-13 02:34] davidfowl commented on #235
It's not that I don't think there's anything wrong with the name and this adds no value, it's all subjective.

[2015-05-13 13:12] jeremydmiller opened #237 "Consider adding the OWIN environment dictionary to the signature of IServiceScopeFactory.CreateScope();"
We're seeing folks on the StructureMap list and on Twitter that are trying to use the same logical nested container between global OWIN middleware and MVC6 at the back. If you were to pass the OWIN environment dictionary for the request (or your abstraction for the same), you would be able to reuse a per-request nested container between OWIN middleware and MVC6. I think it would also be useful to

[2015-05-13 13:36] jeremydmiller opened #238 "Suggestion: All services should be registered in the main application container w/ no programmatic fallback"
tl;dr: I think the fallback mechanism for default services in the IoC abstraction is inefficient, potentially confusing, and makes IoC diagnostics less useful.

The main `GetService(type)` method of one of the IoC container abstractions today looks like this:

[code]

The code above is part of an effort to build a StructureMap plugin to MVC6. From my perspective, the code above is unnecessarily in

[2015-05-17 07:21] Tasteful opened #241 "ServiceProviderExtensions missing GetServices and GetServices<T> extension method"
The `ServiceProviderExtensions` contains methods for `GetRequiredServices`/`GetRequiredServices<T>`. Equivalent method for `GetServices`/`GetServices<T>` without the `providers.Any()` check that always returning an empty `IEnumerable<T>` when non existings instances is registered in the container.

[2015-05-17 19:58] davidfowl commented on #237
If the goal is about sharing per request services, it sounds like we'd want to expose the delegate used to resolve a service not the one to create a scope. We create the scope in the hosting pipeline already and in order for pure owin middleware to get those services it would need to call resolve. Does that sound like what you're going for?
If we see going to expose our abstraction via the OWIN en

[2015-05-17 21:49] mdekrey commented on #182
This exception also crops up when there's multiple public constructors on the class being instantiated.

I believe this is fixed with [this commit by @davidfowl][0] - adding the conditional `when (ex.InnerException != null)` should do it. Unfortunately, I'm not running against the daily builds so I can't confirm.

[0]: https://github.com/aspnet/DependencyInjection/blob/7326ec5166695adeb9718175b546

[2015-05-21 10:15] davidfowl commented on #238
I think there are 2 different sets of issues being called out here:

I agree and we're aware of this current limitation. We might be able to change GetService and GetRequiredService to GetService (bare metal behaviors of the DI container) and TryGetService (an extension method that checks for `IEnumerable<T>` so things can choose to fallback). Another thing that was discussed a while back was supp

[2015-05-22 07:49] IonRobu commented on #162
Hi Eilon, I have a 'clean' beta4 installation (only .dnx, not .k), and I try to refer a third party package built on beta3 version, and got exactly the same error.

[2015-05-22 12:09] CoreyKaylor commented on #238
CoreServiceRegistry was one place that default services were registered. The external or optional components also had an ability to register their own default components. In other words it doesn't have to  imply a direct coupling as you have indicated.

[2015-05-22 12:41] CoreyKaylor commented on #238
I think the "with or without DI" is the challenge here. I think littering the runtime with null checks for things that expected for a component to work in my opinion isn't a good way to deal with that.

Maybe there are concrete examples seen as problematic that can be talked through?

[2015-05-22 16:43] davidfowl commented on #219
We did this

[2015-05-22 16:43] #219 closed

[2015-05-23 00:36] Eilon commented on #162
@IonRobu you'll need to get a version of that package that is built against beta4 then. All the packages used in the project have to be compiled against the same version. Please note that this is just painful right now because we're shuffling things around a lot while the project is in preview. Once it hits 1.0-rtm this won't happen anymore.

[2015-05-26 22:53] ToddThomson opened #242 "Question: Adding Services from Types in Class Libraries"
I am moving a Unity based MVC web application to ASP.NET 5. This web app invoked Plugins/Modules in class libraries which registered services with the Unity container.
I am struggling a bit with the built in DI of ASP.NET 5. The startup.cs ConfigureServices() offers IServiceCollection which I can use to add services, but to invoke the Plugin ( using createInstance from ActivatorUtilities ), I need

[2015-05-27 08:27] davidfowl commented on #242
What exactly does loading services from class libraries mean? MVC is a class library and it enables this by having the user call `services.AddMvc()` in their `Startup.cs`. What exactly are you looking for? Assembly scanning?

[2015-05-27 08:38] davidfowl commented on #238
How? We don't do any assembly scanning and don't intend to because we're sensitive about startup performance.

I agree, not many places do this but data protection is one of them. One of the ideas is that you can use some of these libraries in a console application (some are portable).

[2015-05-27 12:49] CoreyKaylor commented on #238
Although Fubu did do assembly scanning in some cases to make it easier to "drop-in" new features. It wasn't necessary and could have been done in the equivalent way you might do `app.UseWelcomePage()` today. The programatic way it was done in Fubu was to call `registry.Import<WelcomePage>()`. The import call itself had the same control over service registry etc. that the main application had.

I'l

[2015-05-27 14:59] ToddThomson commented on #242
@davidfowl With MVC 5 I used ServiceLocator and Unity to dynamically invoke an IModule based class ( contained in a class library dll ) by providing a Type definition that came from a property in web.config. I then called into the module to register a number of services with the Unity container.
I want to do the same thing with ASP.NET 5 DI. However, to use the built in DI to instantiate a Type, t

[2015-05-27 16:31] ToddThomson commented on #242
@davidfowl I used System.Activator.CreateInstance( fullyQualifiedType ) to obtain the module. I can call into the module class with Initialize( IServiceCollection ) to register services.
I still feel that it is a bit odd that in startup.cs Configure() I cannot add additional services to the DI container - is there a reason for this restriction or am I missing something?

[2015-05-28 00:04] divega opened #243 "Overriding the lifetime of a dependency from a previous registration should cause some kind of warning or error"
Things are often designed so that only a specific service life time is correct for a given shared dependency in a given application. Attempting to re-register a dependency using a different life time is a likely indication of user error and can have unexpected consequences. See aspnet/EntityFramework#2052 as an example that brought this problem to our attention.

More details of how this should wo

[2015-05-28 06:40] henkmollema commented on #241
+1

[2015-05-28 17:34] muratg commented on #243
Yup, this seems broken to me too.

[2015-06-03 07:47] henkmollema opened #244 "Repo description still mentions 'vNext'"
Repo description still mentions 'vNext' in stead of ASP.NET 5.

[2015-06-03 17:24] muratg commented on #244
Thanks, fixed.

[2015-06-03 17:24] #244 closed

[2015-06-06 19:07] #143 closed

[2015-06-06 19:58] glen-84 opened #246 "Add support for child containers"
Use case: You add a "module" (separate assembly) to your web application which contains controllers, views, etc. The MVC parts make use of an `IStringLocalizer` implementation that loads strings from a JSON file (for example). When you "register" the module, it adds its dependencies to the DI container of the host application, including the string localizer implementation. The host application the

[2015-06-06 23:42] davidfowl commented on #246
Sounds like something that can be fully implemented in a stand alone way and doesn't have to be built in.

We're not trying to be a feature rich DI container so feature like these and other named providers won't be implemented. If you want features like child containers, use a DI container that supports them.

There is a single container within the application. If you want support for something li

[2015-06-07 00:27] brockallen commented on #246
Why isn't the ActionContext in MVC done this way?

IOW, can we use this approach you suggest to do  injection of a specific per-request instance of a type?

[2015-06-07 03:05] davidfowl commented on #246
File a bug on MVC then? Currently MVC registers IScopedInstance<T> to achieve similar things to IHttpContextAccessor (though they are pretty different).

[2015-06-07 18:49] mdekrey commented on #246
The problem with implementing it in a stand alone way is for package authors, rather than end-product-developers. As @atrauzzi mentioned in the Announcements thread (wrong spot for us to jump on that before, @davidfowl - sorry for that), it would be atrocious for a package author to require a specific DI framework; we're hoping for hooks that can be tied into by all DI frameworks.

mdekrey/Depende

[2015-06-08 06:42] davidfowl commented on #246
That's a grand claim. This is a brand new DI abstraction and implementation that is only used in ASP.NET as it stands.

If you're thinking about adding this generic capability to the DI abstraction then I'd suggesting doing some more research to see if the most popular DI containers support this in a first class way. ASP.NET 5 doesn't have a way to configure the child container, so even after addi

[2015-06-08 12:45] mdekrey commented on #246
I'm not sure what the grand claim is - I'm fairly certain that if it's part of the framework that Microsoft puts out, it'll become a standard that everyone implements. (`ProviderBase` sure was.) And I'm REALLY excited that DI is something that is used by the framework by default.

I agree regarding the default parameter - it shouldn't be there; it was to prevent breakage from anyone else who is cu

[2015-06-08 19:02] davidfowl commented on #246
That claim. The only real integration point for this that would cause package authors to depend on a specific DI framework would be if they wanted to expose the configuration of the nested container. If a library author just depended on DI features, then configuration the child container is about the "system" creating the child container itself. In the case of an http request, that would be the re

[2015-06-08 19:11] davidfowl commented on #242
the IServiceProvider is readonly, you can't add services at runtime in ASP.NET. We don't support that. It's something you'd have to build into your system.

[2015-06-08 19:58] ToddThomson commented on #242
Thanks @davidfowl . I have a better understanding of the DI used in ASP.NET 5 now. It meets my needs.

[2015-06-08 19:58] #242 closed

[2015-06-08 20:30] brockallen commented on #246
So for child containers now, I suspect it can be implemented using IHttpContextAccessor as the model.

You'd need to design IFooAccessor whose implementation depended on the IHttpContextAccessor as the place to read/write the Foo. Somewhere in your pipeline you know to set the right entry in the HttpContext's Items collection, and the anything that needs Foo injects the IFooAccessor.

Sound about

[2015-06-10 10:16] Tragetaschen commented on #232
The Ninject issue could be #247

[2015-06-10 13:56] mrchief commented on #232
For using SimpleInjector with vNext, read this [thread](https://github.com/simpleinjector/SimpleInjector/issues/41).

[2015-06-18 01:55] matthewDDennis commented on #246
Implementing a child container in the existing framework is not difficult.  As a quick proof of concept:
[code]
To create the child service provider:
[code]
How to use and set the `IServiceProvider` in use to the child container is a different issue,

[2015-06-18 10:59] mdekrey commented on #246
It's unfortunately not that easy, @matthewDDennis, due to the way `IServiceProvider` handles `IEnumerables` and other Open service resolutions. Thanks for trying to help, though!

[2015-06-18 11:57] matthewDDennis commented on #246
Why wouldn't it work?
`IServiceProvider` doesn't *handle* `'IEnumerables` etc.  That is done in the `ServiceProvider` implementation.
Since my `ChildContainer`, using the `ServiceCollection.BuildServiceProvider`, is just creating a `ServiceProvider` and using it, which already handles everything you are concerned about.

Since it is an `IServiceProvider`, all the extension methods would work as we

[2015-06-18 12:13] matthewDDennis commented on #246
I just realized that `ServiceProvider` implements IDisposable, so I've added support for disposable `IServiceProvider` implementations.
[code]

[2015-06-22 14:32] kspearrin opened #250 "Registration by convention"
Is there a way to do dependency registration by convention? For example, for a given namespace register all non-abstract classes with their default interface implementations.

Something like Ninject allows with their convention extensions: https://github.com/ninject/ninject.extensions.conventions

[2015-06-22 15:36] davidfowl commented on #250
Nope. We don't support anything like this but it should be trivial to implement as an extension. You could also just use ninject.

[2015-06-22 15:42] kspearrin commented on #250
Thanks. I just wanted to check if there was an easy way by default before trying to roll my own extensions or bringing in Ninject.

[2015-06-22 15:42] #250 closed

[2015-06-26 16:03] henkmollema opened #251 "GetRequiredServices performance"
`GetRequiredServices<T>` and `GetRequiredServices` check if there are any services using `Any()`. This causes the service provider to enumerate the `IEnumerable`, which may have negative performance impact. Also the collection is returned as `IEnumerable` so the consumer has to enumerate again.

See: https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection

[2015-06-26 16:40] davidfowl commented on #251
@henkmollema Can you produce some benchmarks to see how big of a difference there is?

[2015-06-26 23:06] henkmollema commented on #251
@davidfowl I created a basic perf test project here: https://github.com/henkmollema/DnxServiceProviderPerf

Results:
[code]

As shown, using the 'optimized' version (which uses `ToArray()`) is actually slower than the current version. This is most likely caused by the fact that the current service provider implementation already returns an array: https://github.com/aspnet/DependencyInjection/blob/

[2015-06-27 02:17] davidfowl commented on #251
I think the current implementation will be fine in the majority of cases. The only optimization that would fly would be an opportunistic cast to ICollection<T>.

[2015-06-27 17:00] Eilon commented on #251
Yeah, given the rather small difference in performance (or sometimes *worse* performance), closing this out for now. Thanks for the investigation!

[2015-06-27 17:00] #251 closed

[2015-07-05 06:05] prasannapattam opened #253 "Dependency Injection in Filters"
Is it possible to do a DI in Filters. I am looking for Property injection. I want to inject SignInManager<ApplicationUser> into my Filter. I would like to see whether user is signed in and if not Signin the user

[2015-07-05 06:07] davidfowl commented on #253
File this issue on MVC.

[2015-07-05 06:07] #253 closed

[2015-07-06 21:38] halter73 opened #254 "Put IServiceCollection extension methods used primarily by frameworks in a separate namespace"
IServiceCollection extension methods used primarily by frameworks (e.g. TryAdd  and TryAddEnumerable) should probably be moved to another namespace (maybe Microsoft.Framework.DependencyInjection.FrameworkExtensions?) since there are currently 45 public methods in ServiceCollectionExtensions and some of the names are confusing.

By putting only the methods commonly used by application developers in

[2015-07-07 17:18] muratg commented on #254
Sounds fine to me. Simplifying IntelliSense for rarely used cases makes sense. @davidfowl?

[2015-07-07 17:21] davidfowl commented on #254
Yep

[2015-07-08 03:35] back5576 opened #255 "AddInstance vs AddSingleton"
Is the only difference in who creates the instance?

[2015-07-08 03:43] davidfowl commented on #255
Yes

[2015-07-08 04:25] back5576 commented on #255
Thanks

[2015-07-08 04:25] #255 closed

[2015-07-09 21:06] bricelam opened #256 "NeutralResourcesLanguage Warnings on UWP"
I'm getting the following warnings on a Universal Windows App.

[2015-07-10 05:48] Eilon commented on #256
See https://github.com/aspnet/Options/issues/73

[2015-07-12 08:48] davidfowl opened #257 "Open Generic services don't work with anything but implementation types"
The generic service registration assumes an implementation type and explodes with a null ref if one wasn't provided. We should either throw up front or support this in some way. Supporting an implementation factory would mean that the callback would need access to the closed generic.

/cc @lodejard

[2015-07-14 17:28] muratg commented on #257
@davidfowl isn't this by design? Do you mean null ref should be thrown earlier in the stack (at registration time, perhaps?)

[2015-07-14 17:32] muratg commented on #21
Closing this as it was fixed last year :)

[2015-07-14 17:32] #21 closed

[2015-07-14 17:49] muratg commented on #79
Closing for now.

[2015-07-14 17:49] #79 closed

[2015-07-14 17:55] #90 closed

[2015-07-15 02:07] davidfowl commented on #257
If it's by design then yes it needs to throw at registration time

[2015-07-15 02:08] davidfowl commented on #257
Or eve throw at resolve time

[2015-07-15 07:08] ilmax commented on #257
IMO it's ways better to throw at registration time than at resolve time, so if open generics aren't supported, please throw at registration time.

[2015-07-15 13:25] mbharodia opened #258 "Question: How do I inject services created for each request?"
I would like to inject services (say data context) created and maintained for a life time of a web request. How do I do that?

In this case each web request would be creating a new instance of the service; within a request the same instance that service is returned whenever requested (so kind of singleton within a request but not across various requests - similar to perRequestLifetimeManager in Un

[2015-07-16 12:23] MarcWils opened #259 "'System.MissingMethodException' ServiceCollectionExtensions.TryAdd"
I get a MissingMethodException when I try to start my ASP.NET 5 application. It's an application that I created based on beta4 and now try to upgrade to beta5.

StackTrace:
System.MissingMethodException: Method not found: 'Boolean Microsoft.Framework.DependencyInjection.ServiceCollectionExtensions.TryAdd(Microso
ft.Framework.DependencyInjection.IServiceCollection, Microsoft.Framework.DependencyInj

[2015-07-16 12:42] mbharodia commented on #258
Finally I found answer here.
http://blogs.msdn.com/b/webdev/archive/2014/06/17/dependency-injection-in-asp-net-vnext.aspx

[2015-07-16 13:26] davidfowl commented on #259
Don't mix beta5 and beta6 packages

[2015-07-16 13:46] #259 closed

[2015-07-16 17:40] muratg commented on #97
The method was removed. Closing this bug.

[2015-07-16 17:40] #97 closed

[2015-07-17 17:11] brockallen commented on #258
This article seems old. Is there a updated version of this somewhere?

[2015-07-17 20:51] #237 closed

[2015-07-20 17:13] wholroyd commented on #228
+1

[2015-07-20 20:44] ceilidhboy opened #260 "Refactor the unit tests to remove the smells and make intent more clear"
The intent of many of the unit tests could be a lot clearer. Given that the DI container is an extensibility point, I think it'd make sense to refactor the tests so that the specification and intent are more explicit.

There are several test smells which contribute to this. Many test methods are not clearly named or are named in a very general way that gives no information as to their true intent.

[2015-07-21 13:34] brockallen commented on #228
+1

[2015-07-21 17:05] Eilon commented on #258
Use the `AddScoped()` APIs on the service collection, e.g.:

[code]

[2015-07-21 19:10] brockallen commented on #258
Actually, that's not quite what I was looking for. Dan pointed me at the version of AddScoped that accepted a `Func<IServiceProvider, object>` as a param. That gets me a step closer to what I was looking for (but still not exactly what I need).

[2015-07-21 19:34] Eilon commented on #258
There are indeed many overloads of `AddScoped` depending on how the service is to be constructed.

[2015-07-23 16:08] rynowak opened #261 "Add TryAddService overloads to register IEnumerable services idempotently"
This is a new set of TryAdd methods targeted at allowing a framework to register services that might have multiple implementations, while doing so idempotently.

[2015-07-23 16:09] rynowak commented on #261
202676f7e82ed46ec6987eb8bcc46b56af2bc7b5

[2015-07-23 16:09] #261 closed

[2015-07-23 16:44] mikary opened #262 "Support instance and factory ServiceDescriptors with TryAddEnumerable"
`TryAddEnumerable` only supported adding services that were registered as a type, the same functionality is useful with other registration patterns.

`TryAddEnumerable` does not have an overload that takes an `IEnumerable<ServiceDescriptor>`, such an overload is useful for some registration patterns and would give better parity with the `TryAdd` methods.

The factory add methods (i.e. `AddSingleto

[2015-07-23 16:44] #262 closed

[2015-07-23 16:53] mikary opened #263 "Clean up public API surface"
There are several extension methods on `IServiceProvider` that are only likely to be used in advanced / framework scenarios (i.e. creating idempotent extensions for registering frameworks). These methods could be moved into a new namespace to streamline the default intellisense experience while retaining the functionality for the advanced scenarios.

A few of the extension method names (i.e. `TryA

[2015-07-23 16:54] mikary commented on #262
Resolved in #252

[2015-07-23 16:55] mikary commented on #263
oops, Duplicate of #254

[2015-07-23 16:55] #263 closed

[2015-07-24 20:09] MikhailNazarov commented on #228
+1

[2015-07-24 21:15] HaoK commented on #228
Note this would also give us named options back for free :)

[2015-07-24 21:25] brockallen commented on #228
Nothing's free -- just prepaid. :)

[2015-07-27 21:24] Eilon commented on #69
The new behavior should be:

1. Eliminate all ctors that have non-injectable parameters
2. Eliminate ctors that have parameter sets that are subsets of other ctors (based strictly on sets of types, not name or order)
3. Hope you just have 1 ctor left; otherwise throw an exception

[2015-07-27 21:34] Eilon commented on #13
Based on the new logic specified in https://github.com/aspnet/DependencyInjection/issues/69, the behavior would be this:

[code]

[2015-07-27 21:34] #13 closed

[2015-07-27 21:36] Eilon commented on #260
This sounds great! Can you send an initial PR that demonstrates a few of the changes you're looking at?

[2015-07-27 21:38] #258 closed

[2015-07-27 21:48] Eilon commented on #243
Dup of https://github.com/aspnet/DependencyInjection/issues/66, which we decided is Won't Fix.

[2015-07-27 21:48] #243 closed

[2015-07-27 21:58] Eilon commented on #241
The final set of methods we want to have are:

[code]

[2015-07-27 22:00] Eilon commented on #235
This matches the common naming conventions used throughout a lot of ASP.NET.

[2015-07-27 22:00] #235 closed

[2015-07-27 22:01] Eilon commented on #233
Can you verify if the new `dotnet` target that this package has already supports this?

[2015-07-27 22:12] Eilon commented on #232
There's an official Autofac package for this DI system that you can grab from here: https://www.nuget.org/packages/Autofac.Framework.DependencyInjection

Can you try the latest build of the official Autofac package?

There is unfortunately no official Ninject support yet.

[2015-07-27 22:14] Eilon commented on #228
The DI system in DNX is designed around supporting the most common set of features so that other DI systems can be adapted to it. If you have a need for named bindings we recommend using a DI system that supports it and integrating it with DNX.

[2015-07-27 22:14] #228 closed

[2015-07-27 22:16] Eilon opened #264 "Remove non-official DI samples"
Remove Ninject and Autofac.

[2015-07-27 22:17] Eilon commented on #208
Not needed - we are removing these projects.

[2015-07-27 22:17] #208 closed

[2015-07-27 22:23] Eilon commented on #155
There are `Replace` and `Remove` methods that can be used for this.

[2015-07-27 22:23] #155 closed

[2015-07-28 01:21] mrchief commented on #232
Autofac wasn't broken in the first place. It worked without any modifications or workarounds. Are you asking about testing this in general?

[2015-07-28 02:26] Eilon commented on #232
Ah, didn't realize Autofac was already fine.

What in particular is broken? Please note that we're in the process of removing the other sample implementations from this repo in https://github.com/aspnet/DependencyInjection/pull/266.

[2015-07-28 03:02] mrchief commented on #232
@Eilon I believe I noted what else is broken (and how) in my first post itself. As @Tragetaschen notes, Ninject issue could be due to #247 and for SimpleInjector, please refer to my earlier [comment](https://github.com/aspnet/DependencyInjection/issues/232#issuecomment-110763337).

Not sure if you're looking for anything more.

If you remove other sample implementations, that'll at least _remove t

[2015-07-28 03:42] Eilon commented on #232
@mrchief sorry, I wasn't sure if some issues had been resolved since this issue was originally opened - more than 2 months ago.

The system is nonetheless designed to work with most IoC's, even if we don't have working code for many of them. We did have Autofac, Ninject, and I believe one or two others at one point that were all demonstrably compatible with the requirements here.

We plan to reach

[2015-07-28 03:51] mrchief commented on #232
I haven't heard anything so I assume the status quo remains.

Sorry to say, but this is a Unicorn at this point. We need PROOF! :smiling_imp:

:+1:

Yes please!! That'll be a great help!

[2015-07-28 04:15] Eilon commented on #232
:one: :corn: ? :trollface:

We did have proofs-of-concept with several IoC's, and did a lot of research too! But, yes, talk is cheap, and without running bits it's not much to go on.

[2015-07-28 06:33] henkmollema commented on #241
@Eilon I could look at this if you'd like.

[2015-07-28 06:41] henkmollema commented on #241
Why drop the `GetRequiredServices` btw?

[2015-07-28 16:49] rynowak commented on #241
We couldn't think of a use-case where you need 1 or more of something. Given the number of methods that already exist we wanted to make it easier to pick the one you want.

[2015-07-28 17:57] henkmollema commented on #241
When applying the mediator pattern, I actually register multiple implementations of `INotificationHandler<TNotification>` and retrieve them using `GetRequiredServices()`.I'll be fine with `GetServices`, however.

Is that going to be implemented using `GetRequiredService()` or just with `GetService()`?

[2015-07-28 20:44] muratg commented on #257
@Eilon Could you reassign this?

[2015-07-29 00:18] #182 closed

[2015-07-29 00:49] pranavkm commented on #233
The `dotnet` profile isn't compatible with any PCL frameworks. There's a feature in NuGet v3 (https://github.com/NuGet/Home/issues/922) that allows working around this, but it only works
* project.json based projects
* applications consuming packages and not package authors (since `allowAlso` does not appear in the nuspec).

My guess is we'll see more libraries switch to targeting `dotnet` so perh

[2015-07-29 01:14] pranavkm commented on #241
`GetServices` would do what `GetRequiredServices` does without the `Any` check:

[code]

The plan is to do `Any` check on the consumer if required.

[2015-07-29 01:25] Eilon commented on #233
It is certainly the case that we want package authors to use `dotnet` whenever possible.

[2015-07-29 16:12] Eilon opened #270 "Create a Microsoft.Extensions.DependencyInjection.Specification.Tests package"
Create a `Microsoft.Framework.DependencyInjection.Specification.Tests` package that has xUnit.net tests that would be used to verify implementations that are compatible with `Microsoft.Framework.DependencyInjection`. This would test things like when exceptions are thrown, how multi-registration items are returned, lifetimes, etc.

Both the Microsoft-provided and community-provided DI implementatio

[2015-07-31 20:42] #210 closed

[2015-07-31 20:44] pranavkm commented on #241
Fixed in e490facfd40d46ed73b8c601c9c731f4e251dead

[2015-07-31 20:44] #241 closed

[2015-07-31 20:51] pranavkm commented on #71
Calling `GetServices` does this. Covered by https://github.com/aspnet/DependencyInjection/blob/dev/test/Microsoft.Framework.DependencyInjection.Tests/ServiceProviderExtensionsTest.cs#L138-L150

[2015-07-31 20:51] #71 closed

[2015-08-03 18:11] natemcmaster opened #272 ".NET Native support"
To enable reflection on UWP that use .NET Native, this library should include a [runtime directive file](https://msdn.microsoft.com/en-us/library/dn600639(v=vs.110).aspx)

[2015-08-03 18:13] Eilon commented on #272
What is there to do in DI? Isn't this more an issue for app developers? Or do we need to also pre-register a bunch of our own types?

[2015-08-03 18:22] natemcmaster commented on #272
Whenever we use reflection (dynamic dispatch, activation, serialization, etc.), .NET Native needs metadata to make this work. For instance, [ServiceProvider.cs](https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection/ServiceProvider.cs#L50) may lead to this directive like this.

[code]

[This blog post](http://blogs.msdn.com/b/dotnet/archive/2014/05/23/ne

[2015-08-03 19:56] pranavkm commented on #272
Wouldn't you be using the `IServiceProvider` interface to invoke `GetService` and consequently rely on `System.Runtime` to provide the directive?

[2015-08-03 19:57] #257 closed

[2015-08-03 20:47] natemcmaster commented on #272
I suspect the .NET Native compiler still needs to know to include metadata for this implementation of `IServiceProvider`, but I haven't tested this to be sure. I included the note above as an example. Optimal directive files may include [a lot](https://github.com/dotnet/corefx/blob/master/src/Microsoft.CSharp/src/Resources/Microsoft.CSharp.rd.xml) of directives

[2015-08-04 16:41] ceilidhboy commented on #260
He Eilon, just saw this after being on holiday. I'll get on to it and send you a PR.

[2015-08-04 17:04] Eilon commented on #260
Sounds god!

[2015-08-05 14:39] #264 closed

[2015-08-06 15:15] Fosol opened #276 "DI Error Message - "No parameterless constructor defined for this object""
When I call a specific endpoint on one of my controllers it throws the following error;

System.MissingMethodException
No parameterless constructor defined for this object.

The error message leaves much to be desired.  Now I have to figure out what constructor needs to be configured for dependency injection.  It could be the controller, or it could be one of the parameters for the controller, or

[2015-08-06 15:39] davidfowl commented on #276
Can you provide a call stack with the exception?

[2015-08-06 15:42] Fosol commented on #276
The stack trace didn't contain the name of the object it was attempting to construct.

The error was the result of me not remembering to make a public constructor (it was private).

[2015-08-06 15:42] #276 closed

[2015-08-06 21:28] Eilon commented on #229
@ninety7 can you show a bit more about what your code looks like? Not enough information here to give much of an explanation.

The DI feature is certainly not restricted to MVC - you should be able to use it anywhere.

[2015-08-06 21:36] Eilon commented on #220
Ninject sample is no longer in this repo.

[2015-08-06 21:36] #220 closed

[2015-08-07 16:46] #69 closed

[2015-08-08 05:58] davidfowl commented on #272
This actually looks pretty crazy. Are libraries developers actually expected to author these files and put them in their nuget packages? What does the end to end workflow look like for regular humans? What about all the libraries on NuGet that exist and do reflectiony things? Do they have to add this file?

[2015-08-10 17:04] PrimeObjects opened #277 "How to DI IHttpContextAccessor"
Hello,

I have a normal class and it need to access HttpContext. How can I DI IHttpContextAccessor httpContextAccessor in its constructor? Or is there a best practice for accessing HttpContext in a normal class.

I did  services.AddInstance<IConfiguration>(Configuration); in public void ConfigureServices(IServiceCollection services) for DI Configuration.

Thank for the help!
Gary

[2015-08-10 17:58] henkmollema commented on #277
What kind of classes do you need dependency injection in? Within MVC pretty much every application flow starts in the application startup or a controller, where dependency injection is available.

[2015-08-10 18:03] PrimeObjects commented on #277
Sorry it is not a normal class, it is a Controller class.
public class KnowledgeSearchController :Controller
    {

        public  KnowledgeSearchController(IConfiguration configuration, IHttpContextAccessor httpContextAccessor):base(configuration)
        {

        }

The configuration works fine after I added

 public void ConfigureServices(IServiceCollection services)
        {
            se

[2015-08-10 18:04] henkmollema commented on #277
`IHttpContextAccessor` is registered by the runtime and should be available in a controller.

[2015-08-10 18:15] PrimeObjects commented on #277
In Controller class, there is a Context property, I guess I can use it to get HttpContext in my controllers.

I have many old classes that were called by HTTPHandler in ASP.NET 4 to help render web content. I'm moving them over to ASP.NET 5. They were replying on HttpContext as a parameter to get session and cache variables. So in ASP.NET 5, do I have to either use controller or middleware to hand

[2015-08-10 18:24] henkmollema commented on #277
Yes, the `Context` property of the `Controller` class is the current `HttpContext`.

Regarding your second question, it depends. If your not using any features of MVC (model binding, view engines, output formatting) than middleware might suit you better. Though it's a bit more low-level.

The current `HttpContext` is injected in the `Invoke` method of middleware:
[code]

[2015-08-10 18:26] natemcmaster commented on #272
Yes, runtime directive (rd) files are ugly. Yes, they are necessary for .NET Native.

End-users can add new rd to their own projects that will make this and other NuGet libraries work, so we don't *have* to add this to our projects. But if we don't, then the burden of making .NET Native work is shifted to library consumers.

[2015-08-10 18:33] PrimeObjects commented on #277
It is what I'm guessing. So I will assume all my classes that contain business logic and content render code will be called either from controller or middlewares in ASP.NET 5. So I will give two common parameters in their Constructor, something like the one below, it should work right?

 public class Base
    {
        protected IConfiguration _configuration = null;
        protected HttpContext _

[2015-08-10 18:35] henkmollema commented on #277
Yes, that should work.

[2015-08-10 18:36] PrimeObjects commented on #277
Thank you very much for the help! you can close this issue.

[2015-08-10 18:36] henkmollema commented on #277
I can't do that, you can do it yourself using the buttons below.

[2015-08-10 18:38] PrimeObjects commented on #277
I did not notice the button ;-)

[2015-08-10 18:38] #277 closed

[2015-08-11 19:23] #254 closed

[2015-08-11 19:24] pranavkm commented on #254
@Eilon does this warrant an announcement?

[2015-08-12 07:48] lovemory commented on #229
I have the same question about this title.
It is two way get an injected instance  on a Controller
1)use [FromServices] attribute,for example:
      [FromServices]
        public IConfiguration Configuration { get; set; }
2)user paramer,for example:
       public XXXController(IConfiguration config)
        {
        }

but ,how can i  get the injected instance  in a common class as
MessageService

[2015-08-18 14:46] Fosol opened #278 "Unable to resolve service within Startup."
I have implemented common code into a base Startup class.  I want to be able to resolve in a child class some of the 'scoped' objects configured in the base class.

public override void ConfigureServices(IServiceCollection services)
{
  base.ConfigureServices(services);

// How do I do resolve the type implementation I've registered in the base class?
//var value = services.GetService(typeof(mytyp

[2015-08-18 15:30] pranavkm commented on #278
Could you explain what you're trying to do? My guess is there's a better way to solve your issue than trying to resolve services at startup.

[2015-08-18 15:34] Fosol commented on #278
I've come up with a solution for my particular requirement.  It still would be nice to immediately resolve a type within the ConfigureServices(IServiceCollection services) method though.

I've added a property to my base Startup class to capture the IServiceProvider.
I initialize that property in the Configure(IApplicationBuilder app, IHostingEnvironment env) method.
Now I have access to the GetSe

[2015-08-18 15:37] Fosol commented on #278
To explain what I'm doing better here's my requirement.

I need to dynamically initialize a bunch of policies.  These policies are initialized within the ConfigureServices(IServiceCollection services) method.  The policies are generated after accessing information from a database.

Since I have already configured DI to know how to create a new instance of my database I wanted to use DI to give me

[2015-08-18 20:22] danroth27 commented on #278
During configure services the services are still being configured and haven't been created yet, so you can't resolve services at this point. Instead you could use the options pattern to setup your policies and make them available through DI. See http://docs.asp.net/en/latest/fundamentals/configuration.html#using-options-and-configuration-objects for more details.

[2015-08-18 20:22] #278 closed

[2015-08-18 20:24] danroth27 commented on #272
@Eilon We should probably handle this in a cross-cutting way instead of one off issues.

[2015-08-18 20:37] danroth27 commented on #232
We will reach out to the various IoC container authors. Nothing to track here.

[2015-08-18 20:37] #232 closed

[2015-08-18 22:43] Fosol commented on #278
Thanks!

The options pattern works well.

[2015-08-19 00:35] pranavkm commented on #256
Fixed in https://github.com/aspnet/DependencyInjection/commit/25f57b5ec0f52c9ad2b4308455df506878c2950e

[2015-08-19 00:36] #256 closed

[2015-08-19 08:07] henkmollema commented on #22
I figured Microsoft is not going to provide DI framework adapters but rather work together with the framework authors to publish their own adapters. Perhaps this along with #23 and #24 can be closed to keep the backlog a bit tidier.

[2015-08-19 08:08] #24 closed

[2015-08-19 08:08] davidfowl commented on #22
Yep! We already removed the other providers.

[2015-08-19 08:08] #22 closed

[2015-08-19 08:08] #23 closed

[2015-08-20 12:19] fabiomaulo opened #280 "Unable to resolve dependency [WebApi]"
If there is some sort of forum please let me know (I'm feeling better to ask before create an issue).
Environment:
beta6
The startup:
		public void ConfigureServices(IServiceCollection services)
		{
			var storageConnectionString = Configuration.Get("TenantsStorage1:BlobStorage");
			services.AddSingleton<IRepositoryFactory>(sp=> new ContainerRepositoryFactory(storageConnectionString, "CEZ"));

Th

[2015-08-20 12:59] fabiomaulo commented on #280
Wooops!! found the issue.
The controller needs IRepositoryFactoryProvider and the class registered does not implement that interface.
Sorry.. I'll take more care next time ;)

[2015-08-20 12:59] #280 closed

[2015-08-21 12:58] Boglen commented on #229
I think you can get it only if you add AuthMessageSender into service collection

[2015-08-23 19:32] BillKrat opened #281 "Dependency chain broken with Controller - it is not resolved (new'd up)"
My IServiceProvider is using a UnityContainer, however I'm finding that the controller is never resolved using IServiceProvider - only its parameters are.   The BuildFactoryExpression is new'ing up the controller (buried inside of an expression) which doesn't provide any hooks for me to "BuildUp" an instance.   The best I can do to achieve setter injection is to use constructor injection to get an

[2015-08-23 21:05] davidfowl commented on #281
Add the controller type to the container. Also this is an mvc issue please open the issue there

[2015-08-23 21:05] #281 closed

[2015-08-23 21:48] BillKrat commented on #281
Hi David,
Can you please elaborate so that I can intelligiently address this is an MVC issue?  I hesitate because the issue appears to reside within the DependencyInjection.Abstractions ActivatorUtilities class - more specifically the BuildFactoryExpression process.

Note: I added the HomeController to the container, per your suggestion, as a transient and in my ServiceProvider expected it to be h

[2015-08-23 23:10] rynowak commented on #281
/cc @pranavkm

@BillKrat - MVC doesn't do this by default because that would require everyone do register all controllers with DI.

You can opt into getting controllers from DI with options on the builder.

**Beta-6 or older**
[code]

**Beta-7 or newer**
[code]

You can either pass in a list of types here or a list of assemblies. Give this a try and if it doesn't do what you want or hit issues, pl

[2015-08-24 12:12] BillKrat commented on #281
That did it, I'm no longer blocked :+1:

[2015-08-25 16:57] rynowak opened #282 "[PERF] Remove lambda allocation in ServiceProvider.GetService"
https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Framework.DependencyInjection/ServiceProvider.cs#L52

This lamdba is allocating about 6mb across 10000 requests of a simple MVC app. We could easily make this 0 by turning the lambda into an instance method and caching a delegate to it.

[2015-08-28 15:56] Eilon commented on #229
@lovemory it depends on who creates the `AuthMessageSender` class. If that type is created by DI, just add some constructor parameters to it and those parameters will also be resolved by the DI container. The idea is to create a chain of dependencies via constructors, and as long as the "root" is created by DI, everything else will also be created by DI.

[2015-08-28 15:57] Eilon commented on #229
Closing this for now because it's not clear what the exact scenario is. If folks have specific code that doesn't work, please post a new issue with as much info as possible about the scenario and what doesn't work. Thanks!

[2015-08-28 15:57] #229 closed

[2015-08-28 16:47] #282 closed

[2015-09-01 09:17] #153 closed

[2015-09-08 21:59] Eilon commented on #256
@bricelam BTW can you also confirm that this does what you need for UWP apps? I want to make sure we didn't miss anything anywhere.

[2015-09-09 15:30] ducalai opened #285 "DbContext no more accessible"
Hi

I am playing around with MVC Music Store and I try to access Entities from DbContext once it has been initialized with very last line SampleData.InitializeMusicStoreDatabaseAsync(app.ApplicationServices).Wait() in Startup.cs file.

If right after that static call, I reach DbContext using var db = `app.ApplicationServices.GetService<MusicStoreContext>()`, then every access to db.[Entity].ToList

[2015-09-09 15:38] davidfowl commented on #285
Can you file this issue on EntityFramework?

[2015-09-09 15:38] #285 closed

[2015-09-09 16:18] muratg opened #286 "[Investigation] DI performance"
We should look at the performance of DI and see if we need to improve.

[2015-09-09 16:20] muratg opened #287 "Reduce calls to GetRequiredService<> across the board"
It's a bad pattern, and breaks the dependency graph.  We probably won't be able to remove all usages, but we should try to minimize the calls.

[2015-09-09 16:37] pranavkm commented on #286
Is there anything in specific we know is problematic? Or is this simply doing some perf work here?

[2015-09-09 16:47] davidfowl commented on #286
Related https://github.com/aspnet/DependencyInjection/issues/124

We also have another bug that I cannot find that shows GetService adding things to a ConcurrentBag have a significant performance impact. There were also memory concerns about using expression tree compilation (@rynowak has some profiles for that).

/cc @DamianEdwards @lodejard @rynowak

[2015-09-14 13:09] benaadams opened #288 "Reduce DI Allocations"
For 2000 plantext requests DI allocates 16,009 objects:

![image](http://aoa.blob.core.windows.net/aspnet/DI_alloc_objects.png)

Clocking in at 788,304 bytes:

![image](http://aoa.blob.core.windows.net/aspnet/DI_alloc_bytes.png)

Which would mean if you were performing 1M rps the GC would have to flush 8,004,500 objects and 394 Mbytes per second, 788 Mbytes per second for 2M rps and 2.76GBytes (56

[2015-09-14 13:23] benaadams commented on #288
This change cuts the object allocations for 2400 plantext requests from 16,009 to 58:

![image](https://cloud.githubusercontent.com/assets/1142958/9850649/eef4ee6e-5aeb-11e5-8f76-e8eff9046700.png)

The bytes allocated from 788,304 to 4,664, also it should not grow per request:

![image](https://cloud.githubusercontent.com/assets/1142958/9850687/2169c41e-5aec-11e5-843b-7093fa003b25.png)

So the GC

[2015-09-14 13:24] benaadams commented on #286
Related: #288

[2015-09-14 13:35] benaadams commented on #288
Question should ```_createServiceAccessor``` be reset each time?

[2015-09-14 17:50] benaadams commented on #288
No, has no state, is pointer to current object's function

[2015-09-14 18:58] benaadams commented on #288
Updated images @rynowak  are they displaying?

[2015-09-15 09:33] IonRobu opened #290 "User information injection"
Hello,

I have an object containing informations about current user. I want to inject the object as transient (per request) in a layer where user info is not available (no reference to Web dependencies). Is there a way to init this object on every request (as old Begin_Request handler) with current user info (such username etc)?

Thanks,
Ion

[2015-09-15 09:48] benaadams commented on #288
See https://github.com/aspnet/HttpAbstractions/issues/402#issuecomment-140336990 for details on server run improvements (61.5k rps -> 1.49M rps)

[2015-09-15 14:46] rynowak commented on #290
Disclaimer - I'd suggest being really careful with this pattern. Using DI in this way makes you really sensitive to *when* you are getting things from DI and what their lifetime is. If you do this wrong and have a bug, the result will be crosstalk between users - one user's request executing with another user's credentials.

You can do something like the following:

- register a **scoped** service

[2015-09-15 16:36] #290 closed

[2015-09-16 04:32] benaadams commented on #288
Tests were actually done for 2000 plaintext responses, so results are worse than reported at top. @davidfowl wanted some more details so breakdown for bytes as follows:

![d0](http://aoa.blob.core.windows.net/aspnet/di-0.png)

![d1](http://aoa.blob.core.windows.net/aspnet/di-1.png)

![d2](http://aoa.blob.core.windows.net/aspnet/di-2.png)
...
![d3](http://aoa.blob.core.windows.net/aspnet/di-3.png)

[2015-09-16 04:41] benaadams commented on #288
Updated top numbers for actual requests performed

[2015-09-16 21:33] danroth27 commented on #286
Let's just use the specific issues to track the current perf investigations.

[2015-09-16 21:33] #286 closed

[2015-09-17 00:03] muratg commented on #286
@danroth27 sounds good. You should file @davidfowl's concern mentioned above in that case.

[2015-09-17 14:30] benaadams commented on #288
All change... will update the figures from both sides

[2015-09-17 21:22] natemcmaster opened #292 "ServiceProvider.Dispose() => Stack overflow"
Introduced with bbb9acf. Not actually fixed by 2793fde.

Calls to https://github.com/aspnet/EntityFramework/blob/8667adaecfe8d96cd8929cf83939cae6fd43f189/src/EntityFramework.Core/Internal/DbContextServices.cs#L88
results in stack overflow.

Using Microsoft.Framework.DependencyInjection 1.0.0-beta8-15579

@davidfowl

[2015-09-18 17:45] #292 closed

[2015-09-22 00:34] sergeyzwezdin opened #294 "Accessing IServiceProvider in static context"
In earlier versions of ASP.NET MVC, when everyone integrated IoC-container by himself, there was ability to store link to container in static field to access it from somewhere else.

It could be useful for some 3rd party objects which isn't integrated with ASP.NET pipeline and didn't store at container. I know it isn't the best situation, but it's quite possible.

Is it possible to do with `IServi

[2015-09-22 07:57] henkmollema commented on #294
You _could_ create a simple class with a static property with a reference to the service provider and set it in your `Configure()` method:
[code]

This is pretty ugly though and should be avoided as much as possible - it's not too hard to implement proper constructor injection DI across your application. @davidfowl is probably gonna slap me for this. :grimacing:

[2015-09-22 07:57] khellang commented on #294
In `Configure` you ge `IApplicationBuilder` passed in, which has an `ApplicationServices` property (`IServiceProvider`).

You can easily do something like

[code]

and then later, somewhere totally unrelated, do

[code]

It's a horrible anti-pattern, though.

[2015-09-22 07:58] henkmollema commented on #294
Nice timing @khellang :smile:

[2015-09-22 07:58] khellang commented on #294
LOL :+1:

[2015-09-22 08:02] davidfowl commented on #294
bad @henkmollema ! :smile:

It won't even work for MVC services because they are scoped. You really need to get a handle on per request scope itself (probably backed by an async local).

Why exactly do you need this?

[2015-09-22 09:53] sergeyzwezdin commented on #294
I thought on static field as well but it pretty looks awful for me :-)

For example, there is [Hangfire library](https://github.com/HangfireIO) where we can queue some task. It stores job in database and later dequeue it and run. Hangfire have concept of [job activator](https://github.com/HangfireIO/Hangfire/blob/5a770aab402b820f262f0872b18c2d3304bb7128/src/Hangfire.Core/JobActivator.cs), but to i

[2015-09-22 10:10] khellang commented on #294
I'm not sure what more you want, @sergeyzwezdin.

I doubt there will ever be a static way to access an `IServiceProvider` in the box. It's already bad enough that it's exposed through `HttpContext`.

It's pretty easy to implement something yourself, though :smile:

[code]

[2015-09-22 11:47] sergeyzwezdin commented on #294
@khellang Well, I already did this at `Configure()` method as well:

[code]

`GlobalConfiguration` is Hangfire's object here. But this way won't work with another cases where 3rd party code want to access container. Just thought there will be some place in framework to store reference to container.

[2015-09-22 14:35] pranavkm commented on #294
There's a `CallContextServiceLocator` in DNX. Sample usage: https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/MvcTestFixture.cs#L70

[2015-09-23 07:01] angelsix opened #296 "Documentation of use"
In my new project I'm using all the dotnet 5 core stuff, and want to use this dependecy injection instead of NInject. However I can find no documetation at all and the Mvc extension helpers don't really provide me much details of whats going on.

As far as I know the IServiceCollection is the IoC Container.

However:
1. In ASP.Net it just gets injected itself into the Configure calls. Where do I g

[2015-09-23 07:05] khellang commented on #296
Related to #294 re. static reference.

[2015-09-23 07:11] davidfowl commented on #296
This post is old but is a pretty good start: http://blogs.msdn.com/b/webdev/archive/2014/06/17/dependency-injection-in-asp-net-vnext.aspx

[2015-09-23 07:12] davidfowl commented on #294
That wont work because today it only represents runtime dependencies.

[2015-09-23 07:24] khellang commented on #296
This is not really the case. You register stuff using the `IServiceCollection` and at some point, the collection is used to create an `IServiceProvider`.
The `IServiceProvider` is the "container" and is what you use to resolve instances.

Have you looked at the (extension) members of the `IServiceCollection` interface?

There's a bunch of overloads for
 - `AddTransient` - Registers a service that

[2015-09-23 07:29] angelsix commented on #296
Great thanks that should be all I need to use it. Great explanation.

The one issue I get now is I cannot add a reference to Microsoft.Framework.DependecyInjection. In the web project its there because Microsoft.AspNet.Mvc depends on it so its pulled that way, but in my class libraries adding this fails to find anything in the drop-down of types or explicitly specifying the version.

{
  "version"

[2015-09-23 07:31] davidfowl commented on #296
What happens when you do the above?

[2015-09-23 07:34] angelsix commented on #296
Seems like a bug in VS. I have the beta 7 tools installed but the VS Restore packages still seems flakely. I run dnu restore from command and it worked fine.

[2015-09-23 07:48] angelsix commented on #296
Ok I need to "bind" stuff in the class library to the IServiceProvider. It seems the IServiceCollection is what you need to bind... whats the best way to bind stuff to the IoCContainer from within a class library.

[2015-09-23 07:52] davidfowl commented on #296
I don't understand the question.

[2015-09-23 07:58] angelsix commented on #296
So in the class library which now has access to the IServiceProvider (by passing it in from the Mvc Configure method - app.ApplicationServices), I can get services anywhere in the application.

However, in that same class library I would like to add items to the IoCContainer. Say I have a class MyClass that I want in the IoCContainer with interface IMyClass.

From Mvc thats fine, inside Configure

[2015-09-23 07:59] davidfowl commented on #296
There are no statics if that's what you're getting at. Just pass the state that you need around at the appropriate times.

[2015-09-23 08:06] angelsix commented on #296
I mean to "Bind" like NInject would of, so ServiceProvider.Get actually finds the thing you put into the IoCContainer. I cannot bind anything anywhere in the application except in Mvc's Configure method, so the class libraries cannot add their own things to the container.

I could just pass the IServiceCollection into the class libraries to bind when called by Mvc, but as I havent used this DI bef

[2015-09-23 08:08] davidfowl commented on #296
@angelsix when running in ASP.NET 5 you can't change services after the container is built. It's readonly. You can create as many containers as you like on your own. If you to participate in configuring the application container then you need to do *all* of it from ConfigureServices.

[2015-09-23 08:11] angelsix commented on #296
Ok in that case that makes sense why it is restricted.

So I have 2 options -

1. pass in the collection inside ConfigureServices to the class libraries to do their binding then, which would work.

Or 2. Create my own service collection and use that for dependecies. I dont think I'll do this but for future reference would that be a simple case of creating a new ServiceCollection, and then to get t

[2015-09-23 08:13] davidfowl commented on #296
Yes, that's what you should do.

Yes, but who would use your service collection?

[2015-09-23 08:15] angelsix commented on #296
For 2, I havent put a lot of thought into it but I was thinking a static class that lives in the core class library, that all the rest of the app uses to bind to and to get services from. So the service collection would live in there, and be used to "bind", and when services are to be retrieved the provider is used.

I wont be using that anyway but I just wanted to know for better understanding.

[2015-09-23 08:21] davidfowl commented on #296
The ASP.NET 5 application is handed a starting service collection to append its services to, if you want the class library to have its own service collection it would be separate from what the web application sees.

[2015-09-25 15:19] rynowak commented on #288
Closing this due to 49520a2a73251a9f718743df4a43d26514021767

Reopen if you find more actionable work here.

[2015-09-25 17:00] #288 closed

[2015-09-25 17:05] benaadams commented on #288
49520a2a73251a9f718743df4a43d26514021767 is an inscrutable reason... I assume you mean [bbb9acf101d4f9b3b818834c60572f67ec16ac63](https://github.com/aspnet/DependencyInjection/commit/bbb9acf101d4f9b3b818834c60572f67ec16ac63) :grinning:

[2015-09-30 06:16] Eilon opened #297 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-09-30 22:21] Eilon commented on #233
Putting in RC so that once generations is online we can verify the behavior in those circumstances.

[2015-10-04 09:19] RehanSaeed opened #301 "Dependency Injection with Multiple Constructors"
I have a tag helper with multiple constructors in my ASP.NET 5 application. This causes the following error at runtime when ASP.NET 5 tries to resolve the type:

    InvalidOperationException: Multiple constructors accepting all given argument types
                               have been found in type 'MyNameSpace.MyTagHelper'. There should
                               only be one applicable c

[2015-10-04 14:24] pranavkm commented on #297
15bda756314f70cce0f6025f6ef8defab3617cfa

[2015-10-04 14:24] #297 closed

[2015-10-04 15:03] pranavkm commented on #301
For services, you can register factory services that let you pick the appropriate constructor.

TagHelpers aren't registered as services and are type activated as part of page execution: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/RazorPage.cs#L202. The only way to make your scenario work would be to have a custom base type where you override the behavior of this method t

[2015-10-05 08:28] #301 closed

[2015-10-05 14:42] tillig commented on #297
For [the October 5 targeted release of beta 8](https://github.com/aspnet/Home/wiki/Roadmap) - is the beta 8 package going to include this change or will it first be available for RC1?

[2015-10-05 14:45] pranavkm commented on #297
This is a RC1 change.

[2015-10-06 10:56] adamhathcock commented on #246
I've been attempting to use this code.  You cannot use ChildServiceProvider along side IServiceScopeFactory.  I've extended the ChildServiceProvider implementation to have a ChildServiceScopeFactory, etc which works but I have a feeling it's going to fall down at some point or require more reimplementation.

I'd rather have the CreateScope method take an overload of an IServiceCollection that are

[2015-10-07 16:24] #296 closed

[2015-10-08 12:51] mdekrey commented on #246
@adamhathcock :+1: - the quick implementation above really falls apart upon close inspection, especially with the special handling of `IEnumerable<T>`. (It pulls from either the child or the parent, not combining the two as expected by child containers.) I had gotten pretty close, but could not get it to behave in a way that was SOLID, nor performant, since the resolution table was completely inte

[2015-10-14 10:10] Antaris opened #303 "async/await in service registration or service resolution."
Is it possible to support `async`/`await` and `Task` based service resolution? I'll walk you through an example:

[code]

 In my example above, I'm defining some implementations of abstractions provided by my framework. In a dependency, the `ISecurityContextFactory` I implement a `Task`-based async/await model because I don't know that the actual implementation _might_ do some DB work to say load

[2015-10-14 10:14] davidfowl commented on #303
Anything is possible but we so far we haven't been adding features that don't exist in other service providers. This looks like Func<T> or Lazy<T> but it's Task<T> being resolved instead of T. Maybe look at how/if other containers solve this and come back with some more data?

[2015-10-15 12:07] comdiv opened #305 "It's not ISSUE but Question"
We have own DI/IoC framework in private code. It has 5 years history and primary was inspired by Castle Windsor.
We think that it will be good if aspnet/DI became the only one to decrease entropy of different solutions. But our framework has greatly another functionality rather than current apnet/DI way. If it's interesting we will try supply improved version of DI if it's not.. it's not...

Here

[2015-10-15 13:25] Antaris commented on #197
You say *better* match but that is your assumption because you understand the intent of your code, the ActivatorUtilities type doesn't.

I think a better solution would be to review your code to understand why you have each constructor and if using ActivatorUtilities is the right way to go.

Should you be resolving through the DI container instead using a component registration which says which co

[2015-10-15 17:14] pranavkm commented on #305
In general, we've been avoiding adding features that don't exist in other DI solutions.
That said, some of these could be solved with what we have in the box.

1) You could use service factories to achieve something along these lines.
2) Auto discovery can be built as an extension on top of the framework. Is there value in having it be built in?
3) We support registering multiple services for the

[2015-10-15 19:39] khellang commented on #305
I thought the whole point of this was to have a "lowest common denominator" way of registering/resolving framework components and that you could BYOC (Bring Your Own Container) if you wanted more features?

Several of the things mentioned are generally viewed upon as anti-patterns, like property injection (either using an `InjectAttribute` or an `Inject` method) or activating instances using a non

[2015-10-15 19:57] comdiv commented on #305
Ok. BYOC is way. Property injection can be worst than evil but it's thing that any DI should provide along with ctor injection. So private members binding too if explicitly configured. But it's kind of holywar.

[2015-10-16 03:29] wangkanai opened #306 "Microsoft.Extensions.DependencyInjection vs Microsoft.Framework.DependencyInjection"
Hey Guys

I'm getting an inconstancy beta8 when using `IServiceCollection`, `ServiceCollection`, `AddEntityFramework`, & `BuildServiceProvider`
This is the full code
[code]

[2015-10-16 05:26] pranavkm commented on #306
This was renamed as part of RC1. See:
https://github.com/aspnet/Announcements/issues/77
https://github.com/aspnet/DependencyInjection/issues/297

[2015-10-16 05:26] #306 closed

[2015-10-17 10:42] Antaris commented on #303
I don't think this scenario is currently widely supported, I've not found a good working examples, so this looks to be one for the backlog until other containers implement something similar.

[2015-10-24 16:11] toddlucas commented on #276
I agree with Fosol, it took me a while to track this down, because I was just looking at the controller. It was a dependency of the dependency. The controller expected an object, and that object was expecting an object that didn't have an interface mapping defined.

Here's a stack trace (beta 7):

System.MissingMethodException: No parameterless constructor defined for this object.
   at System.Run

[2015-10-24 21:24] pranavkm commented on #276
@toddlucas, could you file a separate work item to improve the error message?

[2015-10-24 22:15] toddlucas opened #310 "Improve error message for "No parameterless constructor defined for this object""
This error message will manifest if a constructor is private, but is a dependency of another class. The following exception is thrown in beta7:

[code]

It would be great if the message would identify the type with the missing constructor. Otherwise, one must resort to binary search debugging (commenting out various DI inputs) or similar efforts.

[2015-10-24 22:17] toddlucas commented on #276
I added issue #310. Thanks.

[2015-10-25 08:06] SYoungPB opened #311 "Open generic service type x requires registering an open generic implementation type"
I have a service with a constructor parameter expecting `IDependency<T>`. I have registered a dependency `IDependency<T>` -> `MyDependency` where `MyDependency : IDependency<MyClass>` but this throws the above `System.ArgumentException`.

Is there a reason why this is not valid?

[2015-10-25 19:00] Antaris commented on #76
I took a different approach to this. As detailed in herehttp://stackoverflow.com/questions/31119284/getting-interface-implementations-in-referenced-assemblies-with-roslyn.

I wanted to avoid assembly scanning and reflection so I used a compile module to search simply for an instance of an module interface and then generated a type implementation at compile time with references to those modules. Ea

[2015-10-30 17:55] pranavkm opened #315 "Consider making types in Microsoft.Extensions.DependencyInjection public"
For instance:
https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Extensions.DependencyInjection/ServiceProvider.cs#L18

We could place them in an `Internal` namespace if necessary..

[2015-11-02 17:46] Eilon commented on #311
I think the error is correct. How would the system know that any type depending on any variation of `IDependency<T>` should always get `MyDependency` as the implementation? And what if they're incompatible?

For example, what if a type depended on `IDependency<Banana>`? If the DI system tried to give it an instance of `MyDependency` then it would fail because `MyDependency` doesn't implement `IDep

[2015-11-02 17:46] #311 closed

[2015-11-02 20:00] Eilon opened #317 "Add doc comments for mainline APIs"
* IServiceCollection interface needs cleanup
* AddTransient method

[2015-11-04 18:16] #270 closed

[2015-11-04 18:16] pranavkm commented on #270
Fixed in https://github.com/aspnet/DependencyInjection/commit/f1c0dbb44ae3242a713328bec649b352221b17f6

[2015-11-05 16:59] jeremydmiller commented on #237
You guys might be missing an opportunity here. Doing this would have enabled some more effective ways of doing multi-tenancy through IoC support and also allowing you to inject the raw OWIN dictionary or OwinContext into objects resolved during a request. Wanna reconsider this? We're definitely taking this approach for Jasper.

[2015-11-05 18:40] davidfowl commented on #237
I'm not sure what you mean, we're not pushing back on the feature itself. If you prose something to the OWIN committee and they agree, we will support it. It's up to them to decide what the delegate structure should look like. We have a similar pattern for building up the applications https://github.com/aspnet/HttpAbstractions/pull/379

I'd recommend talking to them in https://gitter.im/owin/owin

[2015-11-05 23:45] Eilon opened #319 "Rename AddInstance to AddSingleton"
The name `AddInstance` doesn't make it super clear what the lifetime is of the object. (If you stop and think about it, it can only be Singleton, but every time I call that method I have to stop and think about it.)

So, we should rename `AddInstance` to `AddSingleton`, or perhaps `AddSingletonInstance`.

[2015-11-05 23:46] Eilon commented on #319
@lodejard @davidfowl @halter73 thoughts on the name?

[2015-11-06 02:17] lodejard commented on #319
Is there an overload where the only difference would be between Type and Object? If that's okay any naming works for me

[2015-11-06 15:13] pranavkm commented on #319
Makes the 3 scenarios line up:

[code]

[2015-11-06 20:40] halter73 commented on #319
I'm sold.

[2015-11-09 06:19] Eilon commented on #317
Done: https://github.com/aspnet/DependencyInjection/commit/7b82a23288e124dc573c24b94aeedefcecd37b72

[2015-11-09 06:19] #317 closed

[2015-11-10 19:01] #310 closed

[2015-11-11 13:57] SharpNoiZy opened #322 "Can I somehow achieve this with the MVC 6 DI?"
I have some Ninject code that I want to transfer to the new Microsoft DI system.
Is this possible or still not supported with Beta 8?
And if it is not supported, is there a workaround?

[code]

And then this:
[code]

The line:
[code]

is here important.
The Microsoft DI solution has no "kernel", right?

Kind regards

[2015-11-11 17:44] Eilon commented on #89
Not planning on doing this at this time.

[2015-11-11 18:30] khellang commented on #89
I think the Populate extension method approach that multiple containers have adopted now works OK.

[2015-11-11 18:30] Eilon commented on #322
@SharpNoiZy I don't know if there's support for Ninject yet with ASP.NET 5's new DI system. There's are ways to wire up StructureMap and Autofac - see the links in the readme here: https://github.com/aspnet/DependencyInjection (we just updated it).

As far as there being a 'kernel' in the default DI system, I suppose the answer is no. The system assumes you register all services explicitly.

[2015-11-11 21:07] Eilon commented on #315
Need a scenario for this.

[2015-11-11 21:07] #315 closed

[2015-11-12 06:57] SharpNoiZy commented on #322
Hi @Eilon
I think there was a missunderstanding, my intention was to use ONLY the new DI System and remove Ninject from my project.

But this is not possible with the above requirements?

[2015-11-12 07:00] Eilon commented on #322
Not sure exactly what the scenario is. Can you elaborate more on what you want to do?

In the default DI system you can of course register types of services as well as implementations of those services (or factories for the service implementations). You can also register generic services.

[2015-11-12 07:27] SharpNoiZy commented on #322
In the first code snipped is just a convient way to bind all generic interfaces of type IQueryHandler<,> to their correct handler classes.

And in the second snippet the line
'''C#
var handler = _kernel.Get<IQueryHandler<TParameter, TResult>>();
'''

Gets from the DI System the correct handler class with the generic type.
But I just know the constructor injection of the Microsoft DI system.

So, t

[2015-11-12 08:49] khellang commented on #197
According to @pakrym in https://github.com/aspnet/HttpAbstractions/pull/475, this shouldn't be an issue anymore?

[2015-11-12 08:51] khellang commented on #322
This is kinda what's being discussed in #76, but with a bit more magic. It's not supported today. I know there's several other issues where people've requested some of the same functionality, coming from other containers.

[2015-11-12 08:59] davidfowl commented on #197
ctor injecton is fine, ActivatorUtilities is not.

/cc @pranavkm

[2015-11-12 09:02] SharpNoiZy commented on #322
It sounds that you refering to point one of my post, let's say I do it in mean time manuelly for every type until this feature is somehow implemented.

But how do I resolve point two?

[2015-11-12 14:51] khellang commented on #322
@SharpNoiZy I have this working on a local branch:

[code]

Would you be interested in something like that?

[2015-11-12 14:55] pranavkm commented on #197
Yeah - the issue is that we cannot introspect what services are registered in a container without realizing it. That's too expensive to determine the best match.

[2015-11-12 17:23] SharpNoiZy commented on #322
Yes, very interessted! :)
Looks like exactly what I searched for! :+1:

[2015-11-12 19:55] pranavkm opened #325 "Remove AttemptingToResolveNonexistentServiceIndirectlyThrows test from test specification"
We have a test in the specification that verifies that the service provider throws if a dependent service cannot be located. This is a behavior of the service container and we should move it out and make it part of `ServiceProviderContainerTests`

[2015-11-12 19:55] pranavkm commented on #325
cc @davidfowl

[2015-11-13 11:10] SharpNoiZy commented on #322
Hi @khellang

How can I get your version?

Kind regards

[2015-11-13 11:14] khellang commented on #322
@SharpNoiZy I'll push the code later tonight (CET). I'll ping you.

[2015-11-13 11:14] SharpNoiZy commented on #322
THX!

[2015-11-13 18:30] #319 closed

[2015-11-13 23:18] ghost opened #327 "Multiple nested scope registrations"
When doing multiple nested scopes through `IServiceScopeFactory.CreateScope()`, you get nested `IServiceProvider`  instances. It doesn't, however, give access to registrations for each scope.

Therefore if you have scopes which are created further down the pipeline (with some service data only accessible from that step in the pipeline, which isn't available at the root), you can't really register

[2015-11-14 01:38] khellang commented on #322
@SharpNoiZy I've pushed what I have now to https://github.com/khellang/DependencyInjection.Scanning. There's also a NuGet package at https://www.nuget.org/packages/Hellang.DependencyInjection.Scanning. I'm working on getting some XML docs etc in there.

[2015-11-16 07:56] SharpNoiZy commented on #322
Thx!
It's a pitty that you are no Microsoft Dev and the include your functions into the default package!
So, please keep your package up to date at least to the final release of MvC 6 :)

[2015-11-16 17:00] pranavkm opened #328 "Add tests for ambiguous constructor selection to TestSpecification"
We have a bunch of tests around constructor resolution in `ServiceTest`. If the intent is to rely on the resolution behavior in code (https://github.com/aspnet/HttpAbstractions/issues/475), we need to add it as part of the test specification.

[2015-11-16 17:40] #322 closed

[2015-11-16 17:42] danroth27 commented on #322
We don't have any plans to include this functionality in the default container. The default container is deliberately minimalistic. For a full featured container you can use any of the various existing containers.

[2015-11-19 12:32] prasannavl opened #329 "Best way to resolve during ConfigureServices"
I have a `ConfigureServices` similar to this.
[code]

This is especially useful when dealing with Scoped services, which won't be available during the configuration.

Is there a recommended way to do this?

[2015-11-19 17:26] Eilon commented on #329
@prasannavl there should be no need to call the ctor explicitly when you register the second service - the DI system will automatically pass in the right parameters by looking them up in the container as well.

You can call:

[code]

And the DI container will see that the constructor for `AnotherService` requires an instance of `SomeService` and it'll look that up in the service container as well.

[2015-11-19 17:26] khellang commented on #329
You should be able to do that using [this overload](https://github.com/aspnet/DependencyInjection/blob/e7e187abc46adf5203db6a0c5d3f384280fa2943/src/Microsoft.Extensions.DependencyInjection.Abstractions/ServiceCollectionExtensions.cs#L155-L171) of `AddTransient`, `AddScoped` or `AddSingleton`.

[2015-11-19 17:35] prasannavl commented on #329
@Eilon, Thanks for the reply, but I think you missed my point. I wasn't talking about those scenarios. :)
However, @khellang - Thanks! The use case above was just to get the idea. The overload is exactly what I was looking for. Now, I'm just confused how I missed something so blatantly obvious! :)

Thanks!

[2015-11-19 17:35] #329 closed

[2015-11-19 17:38] Eilon commented on #329
Yes, indeed there's a factory version that takes in an `IServiceProvider` so you can manually resolve any required services when the service is created.

BTW please note that in RC2 we renamed `AddInstance` to `AddSingleton` for consistency: https://github.com/aspnet/DependencyInjection/issues/319

[2015-11-19 17:42] prasannavl commented on #329
Thanks for the heads up.

I'm still wondering if there's a way to access the services inside the `IServiceCollection.Configure<T>` - but I guess that shouldn't be necessary in most scenarios.

[2015-11-19 18:45] Eilon commented on #329
You can't access the services from within there because they don't exist yet :smile:

[2015-11-19 18:54] prasannavl commented on #329
Haha. That's a correct. But would be nice to get the singletons to be resolved, instead of having to go through the arduous procedure to create the service manually with all the dependencies as instances, and then use them. :)

[2015-11-19 19:38] henkmollema commented on #329
@prasannavl, you could build an 'intermediate' container while configuring the application container:

[code]
This uses the service provider of the internal dependency injection system. I don't really recommend this pattern, but it might help you out. You could even build an Autfac container and use that as intermediate service provider.

[2015-11-19 21:01] prasannavl commented on #329
@henkmollema, does it not end up with 2 different ServiceProviders, each with different set of its Singletons, which wouldn't make much sense?

[2015-11-19 21:18] henkmollema commented on #329
It does. That's why I called it an 'intermediate' service provider. I use that pattern to resolve a certain service in the scope of `ConfigureServices`. When you use it in a implementation factory like `services.AddInstance(() => new AnotherService(sp.GetService<SomeService>()));` you 'leak' it outside the scope and that may not make sense, indeed.

[2015-11-20 19:58] #325 closed

[2015-11-24 20:28] lodejard commented on #238
Doing issue bookkeeping. @jeremydmiller @CoreyKaylor - is this issue still an active concern?

[2015-11-24 20:50] jeremydmiller commented on #238
@lodejard Well, yeah, it is, but this was just a suggestion. From the StructureMap perspective, I'm really not wild about how vNext requires the `TryGetInstance` mechanism because it defeats some diagnostics and it's a touch less efficient. I think you could have gained some capabilities and had less confusion about runtime behavior down the line by having all the services inside the IoC container

[2015-11-26 00:42] pranavkm commented on #328
Out of curiosity, what's our feedback mechanism for these specs? Say we add these tests and some DI systems fail. How do we find out and what do we about it?

[2015-11-26 00:59] Eilon commented on #328
They file a bug here :smile:

[2015-11-26 08:33] khellang commented on #328
Oh, I'd make sure you guys hear it :wink:

[2015-11-26 14:30] TsengSR opened #331 "Add an annoucement about the breaking changes in IServiceCollection in RC 2"
After getting the most recent packages from https://www.myget.org/gallery/aspnetvnext, I had some compile errors on missing `.AddInstance` method and the autocomplete wasn't very usefull in suggesting me to add the rc1 version of the library (I'm on RC2).

Would be helpful to add this breaking changes as an annoucement in the https://github.com/aspnet/Announcements/milestones/1.0.0-rc2 issue track

[2015-11-26 20:20] pranavkm commented on #331
Sorry about that. I'll add an announcement post.

[2015-11-26 20:29] pranavkm opened #332 "[Discussion]: AddInstance was renamed to AddSingleton"
Discussion PR for #319

The rename makes the 3 APIs line up

[code]

[2015-11-26 20:30] pranavkm commented on #331
Created: https://github.com/aspnet/Announcements/issues/119

[2015-11-26 20:30] #331 closed

[2015-11-27 04:17] NeelBhatt commented on #332
:+1:

[2015-11-28 21:19] Eilon commented on #328
@pranavkm , see? :smile:

[2015-12-01 01:20] pebezo commented on #332
https://docs.asp.net/en/latest/fundamentals/dependency-injection.html

So if you "merge" or rename, how would the new functionality fit? How would I know where the instance is created?

[2015-12-01 01:31] pranavkm commented on #332
That doesn't change. You're still passing in an instance so it's instantiated wherever you're create it.

[2015-12-01 02:04] pebezo commented on #332
Duh, good point :smile:

[2015-12-04 10:18] pauldotknopf opened #334 "Ambient scopes not supported by all DI's"
So, I'm having a discussion with @dotnetjunkie about implementing a dnx adapter for SimpleInjector (https://github.com/simpleinjector/SimpleInjector/issues/156).

He is not a fan of implementing an abstraction, it is a conforming container anti-pattern. I've argued that if he doesn't create a dnx adapater, SimpleInjector will simply not be a choice with users when doing ASP.NET 5 projects. I belie

[2015-12-04 10:52] davidfowl commented on #334
Is there no way to just hack this into the abstraction instead of trying to change the current abstraction? We're in RC2 and tbh I don't see us changing something that fundamental, maybe we can just return the existing container in this implementation. It isn't accurate but it's better than nothing, works in the default case and can throw if you create more than one scope (in this impl).

What abo

[2015-12-04 11:07] theonlylawislove commented on #334
@davidfowl I haven't digged into every usage of DI in the ASP.NET stack, but is it only used for web requests?

SimpleInjector wont publish a package that doesn't work 100%.

With that said, I will probably make one.

What static accesor is there for the current web request? Similar to ```HttpContet.Current.Items["scope"]```?

I will store the scope in there and managed it within the ```ctor``` an

[2015-12-04 11:09] davidfowl commented on #334
Nope.

Nope. We don't have any statics.

[2015-12-04 11:09] khellang commented on #334
:golf: :clap:

[2015-12-08 08:18] dotnetjunkie commented on #334
Unfortunately, the incompatibility in ambient scopes between DNX and Simple Injector is just one of the many incompatibilities, and I would say one of the least problematic one, because that one would be fixable by making some small non-breaking changes to Simple Injector. There are however, other -in my view unsolvable- incompatibilities. Besides my [comment](https://github.com/simpleinjector/Sim

[2015-12-09 17:51] glatzert opened #335 "Make error message more useful"
I have a problem with the dependency injection, and it's not easy to find, where it comes from. The error message is: System.MissingMethodException: Für dieses Objekt wurde kein parameterloser Konstruktor definiert. (which roughly translates to "there's no parameterless constructor"). The question is: what is the type of the object?
Neither the message nor the stack-trace give any useful Informati

[2015-12-09 17:55] pranavkm commented on #335
What release are you on? We addressed some of the issues around constructor discovery in RC1. Also it would help if you had a repro issue for this.

[2015-12-09 17:58] glatzert commented on #335
It's RC1 and I'm currently trying to find where it comes from, to make an easy to repro sample.
As far as I can tell currently, it complains about an MVC Controller, while another one works fine...

[2015-12-09 18:03] glatzert commented on #335
Okay - found the problem it: The constructor of an object deeper in the dependency tree was protected.
So essentially to Repro the issue with the useless message do this:
[code]

[2015-12-10 20:22] pranavkm commented on #335
My bad - this was fixed in RC2. See https://github.com/aspnet/DependencyInjection/issues/310

[2015-12-10 20:22] #335 closed

[2015-12-10 20:26] pranavkm commented on #46
This was fixed as part of https://github.com/aspnet/DependencyInjection/issues/310. We identify when a parameter cannot be constructor.

[2015-12-10 20:26] #46 closed

[2015-12-10 20:26] pranavkm commented on #89
Could we close this?

[2015-12-10 20:54] jeremydmiller commented on #89
@khellang You can push in an existing container, right? My only reservation was that users *can* use any IoC tool's native registration facilities and still let vNext be able to add its required registrations to the app container.

[2015-12-10 21:52] davidfowl commented on #89
Yap

[2015-12-10 21:52] #89 closed

[2015-12-11 23:40] #328 closed

[2015-12-16 23:28] khellang opened #338 "How to dispose top-level IServiceProvider"
Since `IServiceProvider` doesn't implement `IDisposable`, and `ServiceProvider` (which _does_ implement it) is internal, how are you supposed to dispose a "top-level service provider", i.e. the result of calling `IServiceCollection.BuildServiceProvider()`?

I could of course do a `(provider as IDisposable)?.Dispose()`, but it would be nicer if the interface implemented `IDisposable`. That way it w

[2015-12-18 16:00] tuespetre opened #340 "Allow services to decorate each other by preventing recursive resolution"
### User Story / Use Case Scenario

As a developer, I want to extend a previously registered service by wrapping it with another service that exposes the same interface.

See: https://github.com/aspnet/Mvc/issues/3739
### Example interface and implementations

[code]
### Examples of ways to set up the service collection
#### Using constructor resolution

[code]
#### Using implementation factories

[2015-12-18 16:17] davidfowl commented on #340
We're not going to support something like this. The problem is it's a very specific feature and we'd need other DI systems to work this way. Or we could just give up and force you to use ours

[2015-12-18 16:19] davidfowl commented on #340
For research can you take a look at some other DI systems and see how they solve those problem. If they even allow it

[2015-12-18 17:17] tuespetre commented on #340
- **NInject** allows the specification of a particular implementation to be used when injecting into another particular implementation. Not sure of the 'factory' situation.
- **StructureMap** allows similar specification, as well as the ability to specify a type with which to wrap other registered implementations upfront.
- **Spring.NET** I am not sure of; my initial searching does not turn up an

[2015-12-18 17:20] tuespetre commented on #340
@davidfowl:

I know you said you're not here to discuss philosophy, but the aspnet/DependencyInjection implementation already approaches this issue inconsistently by detecting and bailing out of the recursion for one scenario but not the other. That inconsistency could be addressed in a number of ways:

- Add detection to the factory scenario to prevent a `StackOverflowException` from occurring
-

[2015-12-18 22:06] brockallen commented on #340
Having the ability to do a decorator pattern in the DI system is quite useful and valuable.

[2015-12-18 22:37] tuespetre commented on #340
I've got it working in that PR. It doesn't matter the order in which you register the services. There's a test case with 36 combinations of scopes/orders/etc. Please let me know what you think

[2015-12-21 19:05] AlexChesser opened #342 "Service added with AddScoped does not retain values throughout the Request Lifecycle"
While this may very well be a misunderstanding on my part, I'm finding that AddScoped is not behaving as expected.

I've detailed the question over on stackoverflow:  http://stackoverflow.com/questions/34388790/addscoped-service-is-not-retaining-settings-throughout-the-request And created a standalone project on GitHub which should serve as an isolated runable project that deominstrates the issue:

[2015-12-22 15:43] AlexChesser commented on #342
Per the discussion and accepted answer on StackOverflow there was a PEBKAC issue.

MiddleWare is apparently only instantiated once for the entire lifecycle of the project and as such, scoped services can't be injected.

Drawing in the `httpContext.RequestServices` (`IserviceProvider`) object will allow you to resolve scoped services during middleware.

[2015-12-22 15:43] #342 closed

[2015-12-22 15:55] davidfowl commented on #342
@AlexChesser If you're writing custom middleware, you can also take services in your Invoke method (if you use the middleware template).

[2015-12-22 18:45] AlexChesser commented on #342
@davidfowl  wow! that's so much cleaner https://github.com/AlexChesser/AspnetIdentitySample/commit/25b010a5ae45678c137b2ad05c53ccd659a29101 thanks for that.

[2015-12-28 17:47] matlus commented on #332
Should probably call is AddSingleInstance() instead?

[2015-12-28 17:51] pranavkm commented on #332
@matlus, we don't differentiate between the factory method and the type overload (i.e. we don't have a `AddSingletonFactory`) and we haven't had any issues with that as yet. I'm not sure why the instance overload would warrant a different method name.

[2015-12-28 18:14] matlus opened #343 "Enhancement Dependency Inject should support "Pooled" Scope"
This requirement may be unique to ASP.NET applications only and not to general DI frameworks but I feel we should have this feature.

In earlier versions of ASP.NET the HttpApplication was pooled (tied to threads pooled by IIS or W3Wp.exe). I've used this "feature" since ASP.NET 1.1 to pool objects to gain a huge performance edge as well as not having to deal with GC related issues and glitches. T

[2015-12-28 18:32] matlus commented on #332
@pranavkm I don't see a Singleton needs a Factory (since there is only one).

AddInstance is clearer (to me) than AddSingleton in my honest opinion.

I guess the confusion is that "Singleton" is an overloaded term here. I assumed (initially) my class needed to be designed as a Singleton, but we're say "give me an instance and I'll just reuse that instance each time". so it's effectively a singleto

[2015-12-28 21:51] davidfowl commented on #343
I'm not even sure how AddPooled makes sense. Why would that be a part of dependency injection? It sounds like you're looking for some hooks related to the request pipeline (or something else?). We also have other containers that support this abstraction and I dunno how this method could make any sense over there.

File this on something like aspnet/Home with more details about what specifically yo

[2015-12-28 22:12] davidfowl commented on #343
FWIW, you can already register a transient delegate that will get resolved every time you access the service you're trying to access. That's a cleaner way to take full control of the lifetime of the types you care about.

[2015-12-29 02:18] matlus commented on #343
I'd like the pooled "thing" to be injected to the controllers as a "service" (at the very least). But yes, it doesn't have to be injected of course (nothing really has/needs to be injected). I figured since you have a AddInstance() method an AddPooled() would make sense (the only difference is the lifetime).

Yes, I need to way to associate something of my own to the pooled threads of the web serv

[2015-12-29 03:48] davidfowl commented on #343
You need to use a transient delegate to achieve this custom lifetime. I look forward to a more complete example

[2015-12-29 03:48] #343 closed

[2015-12-29 22:02] Eilon commented on #340
I like this feature idea but moving it to the backlog because we are closing down on new features at this time.

[2015-12-29 22:07] Eilon commented on #332
A singleton could need a factory if it is expensive or complex to construct, yet might not be needed.

[2015-12-29 22:29] pranavkm commented on #332
The factory lets you get at other services via the service container that is passed to it. We use this in a couple of places as a substitute for creating instance factories.

[2015-12-30 01:06] matlus commented on #332
Right, that's exactly what I use the AddInstance() for now. But I create the instance and hand it off (obviously). So you're saying the overload that takes a Factory method, will use the Factory method just once? Or do I have to pass you a method that creates an instance where the class is designed to be a singleton?

Ok, looking at Eilon's answer makes sense from a lazy loading need point of view

[2015-12-30 01:25] davidfowl commented on #332
Yes it will be called just once, since it's a singleton.

Yes, if you add a singleton the class should be designed to be a singleton.

The delegate is not just for lazy loading, it's for getting at other registered services at time of construction:

[code]

At the time you call `AddSingleton(instance)` you may not have access to everything required to construct the instance.

[2015-12-30 01:29] matlus commented on #332
I get the need/purpose of this method and its overloads. By the way does the DI container call Dispose for any instances it is managing and the type implements IDisposable?

[2015-12-30 18:51] Eilon commented on #332
@matlus only one instance will be created. The class must be thread-safe or otherwise provide some sort of thread safety guarantee (e.g. a very poor solution would be some kind of external synchronization, but that's an extreme anti-pattern).

The class does not need to *require* allowing only one instance. In fact, that is also an anti-pattern. E.g. in a unit test you might want to instantiate ma

[2015-12-31 15:38] Fosol opened #344 "Is there a way to check before adding?"
I'd like to ensure any library or middleware that make has it's own AddServices() extension method.  That way they all initialize the stuff they need to run correctly.  However I don't want to overwrite earlier configuration.

Essentially I need to know if there is a way to check if the interface or object has already been configured in the service collection?

[2015-12-31 16:03] pranavkm commented on #344
Use the `TryAdd*` extension methods. They verify that a type of the service isn't already registered. Here's Mvc using it for its services: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L81

[2015-12-31 16:04] henkmollema commented on #344
There is: `services.TryAdd()`. It's in the `.Extensions` namespace. It only adds it if it's not already there.

[2015-12-31 16:05] henkmollema commented on #344
Oh @pranavkm beat me :grin:

[2015-12-31 16:05] Fosol commented on #344
Thanks!

[2015-12-31 16:05] #344 closed

[2016-01-04 10:35] janpieterz opened #345 "Proposal: Remove the need for the FromServices dependency"
I really like how 'clean' Autofac's property injection works. My lower libraries are never depending on any kind of dependency injection framework, they don't even know it exists. This can be done, obviously, through constructor injection but that is not always the clearest solution for all use cases.

I'd propose (pardon me if this has already been talked about) to remove the need for the FromSer

[2016-01-04 18:05] pranavkm commented on #345
`FromServices` is an Mvc feature. You should file a bug for it in https://github.com/aspnet/Mvc

[2016-01-04 18:06] #345 closed

[2016-01-13 19:11] lodejard commented on #238
Well, I guess I'm going to close this because it's not really clear to me what change this is calling for. I believe it's agreed that using constructor injection and required services w/out a programatic fallback is preferred - but this issue itself isn't really actionable.

If folks see places in the code where this happens and should be changed please file issues there. And of course PRs are alw

[2016-01-13 19:11] #238 closed

[2016-01-15 23:46] taspeotis commented on #76
I'd like this too, please. MEF does this well with `new DirectoryCatalog("MyProject.*.dll")` which then looks for MEF attributes. I know DNX/CoreCLR has stripped down reflection capabilities (e.g. restrictions on assembly loading ... no `Assembly.GetReferencedAssemblies`) so I have rolled-my-own in a slightly different way.

(I prefer some sort of control over what is added to the container. If yo

[2016-01-16 01:06] khellang commented on #76
I thought I already left this here, but apparently not, so here it goes... My approach; https://github.com/khellang/Scrutor

[2016-01-16 01:07] khellang commented on #76
It doesn't look good for a built-in feature, though:

From https://github.com/aspnet/DependencyInjection/issues/322#issuecomment-157114371:

[2016-01-19 14:52] markusvt opened #347 "Try to addScoped abstract class"
I just came across the following problem:

In the Startup.cs in the configureServices Method I added the following line
services.AddScoped<GenericRepository>();

When I tried to start the application locally, the Browser only showed "Please wait" and when trying to debug the whole IIS crashed.
I looked into it an saw, that my GenericRepository was accidentally marked as abstract. So I removed that

[2016-01-19 17:26] pranavkm commented on #347
Dup of https://github.com/aspnet/Tooling/issues/363. You should see an exception if you're running this via kestrel.

[2016-01-19 17:26] #347 closed

[2016-01-21 14:00] SharpNoiZy opened #348 "Real strange DI RC1 bug"
Hi,

I have real strange issue with the DI system.
I use it really heavy and in general I'm very very happy with it.

But now I tried 1 week to fix somehow an issue on my solution, but I loose this fight what brings me to the thought that it have to be an bug on this lib :)

My problem is, there are 3 libs involved, including one unit testing lib, so I can not post here "5" lines of code to explai

[2016-01-21 14:01] davidfowl commented on #348
@SharpNoiZy Can you reproduce the bug in a smaller project?

[2016-01-21 14:09] SharpNoiZy commented on #348
I could try to copy all source code of the different libs into one project, what would not reduce the source code :)
But the projects (except one) are very small 1-10 files because I just started this solution with .NET core. (For playing around with it)

In general you just have to debug the unit test set an break point to one position and would immediately see the issue.
For sure, I would explai

[2016-01-21 14:11] davidfowl commented on #348
Can you remove all sensitive information from the project and put it on github? Or make a private repository and add me to it?

[2016-01-21 14:22] SharpNoiZy commented on #348
I will do that tomorrow.
Thank you very much!

I will invite you then add an ReadMe to the project with additional information.
OK?

[2016-01-22 06:59] SharpNoiZy commented on #348
@davidfowl I add you to my repo. Good luck to find this nasty bug.

[2016-01-22 07:05] davidfowl commented on #348
@SharpNoiZy You have package sources that don't work. I assume those aren't important.

[2016-01-22 07:10] SharpNoiZy commented on #348
Oh sorry, yes nothing should be used from this local sources.
Just removed them and pushed.

[2016-01-22 07:26] davidfowl commented on #348
No good:

[code]

[2016-01-22 07:32] davidfowl commented on #348
So I can't run this code but I have a few questions:

1. Are you running tests in parallel?
2. Why are you using a static service collection in your fixture?

[code]
That looks like a disaster waiting to happen (and probably already happened).

[2016-01-22 07:32] SharpNoiZy commented on #348
Damn it, sorry. ;(
Pushed again, removed this local dependency.

[2016-01-22 07:34] SharpNoiZy commented on #348
Because I want to use DI inside the unit test classes and xunit does not support constructor injection on their unit test classes

[2016-01-22 07:35] davidfowl commented on #348
@SharpNoiZy I'm like 98% sure that's your problem. Stop using statics in your unit tests. There's a better way to do this.

[2016-01-22 07:40] SharpNoiZy commented on #348
It's not like no DI is working, just one particular case, which is the same code like two other classes which work (Like I wrote in the ReadMe).
If there is a better way to achive that I can resolve DI in the unit test classes without constructor injection I would love to learn.

[2016-01-22 07:44] davidfowl commented on #348
@SharpNoiZy I get it but using statics like this is a recipe for disaster. Also the nature of the problem points in this direction. Just make `DependencyHelper` instance instead of static and expose that on your base class or fixture, or whatever is instantiated.

[2016-01-22 08:01] davidfowl commented on #348
I can run now, so I'll still take a look...

[2016-01-22 08:02] SharpNoiZy commented on #348
Thank you, you can ever commit and push what you want, this repo is just for you.

[2016-01-22 08:04] davidfowl commented on #348
@SharpNoiZy Can you come into the jabbr room or gitter room? I have some questions.

[2016-01-22 08:07] SharpNoiZy commented on #348
I doesn't know them, but I just created me an account on jabbr.
Which chat should I enter?

[2016-01-22 08:08] davidfowl commented on #348
https://jabbr.net/#/rooms/AspNetCore

[2016-01-22 08:08] SharpNoiZy commented on #348
OK, I'm in

[2016-01-22 08:21] seesharper opened #349 "Improve assertions in Microsoft.Extensions.DependencyInjection.Specification.Tests"
Hi!

I am in the the process of wrapping up my LightInject implementation and I thought I would mention that the assert messages could use some TLC. There are tests that does multiple asserts and then it is very difficult to determine which assert that failed. Would you be accepting a PR for this?

Basically

[code]

btw. it would be nice to see this package on Nuget at least as a prerelease.

Reg

[2016-01-22 10:22] davidfowl commented on #348
Solved.. not a DI project :smile:

[2016-01-22 10:22] #348 closed

[2016-01-22 15:53] pranavkm commented on #349
We'd love to take a PR that makes the specifications easier to work with.
The package should make it to NuGet as part of the RC2 release. For the time being, you should be able to use `https://www.myget.org/f/aspnetvnext` to get it,

[2016-01-23 01:26] Eilon commented on #334
Moving this to Backlog as we are not planning to make any changes for this at this time.

[2016-01-23 01:27] Eilon commented on #338
Moving this to Backlog as we are not planning to make any changes for this at this time.

[2016-01-23 01:27] Eilon commented on #327
Moving this to Backlog as we are not planning to make any changes for this at this time.

[2016-01-23 01:27] Eilon commented on #305
Moving this to Backlog as we are not planning to make any changes for this at this time.

[2016-01-23 01:27] Eilon commented on #294
Moving this to Backlog as we are not planning to make any changes for this at this time.

[2016-01-23 01:27] Eilon commented on #158
Moving this to Backlog as we are not planning to make any changes for this at this time.

[2016-01-23 01:28] Eilon commented on #197
Moving this to Backlog as we are not planning to make any changes for this at this time.

[2016-01-23 01:29] Eilon commented on #349
Marking as up-for-grabs and putting in the Backlog. If we get a PR we will take a look, but we are not currently planning on implementing this ourselves.

[2016-01-24 19:59] seesharper opened #350 "latest from dev branch does not compile"
It looks for Microsoft.AspNetCore.Testing while the only package I could find on the aspnetcidev feed was Microsoft.AspNet.Testing. Then I got it to compile. Is this maybe related to the whole asp.net renaming going on these days? :)

[2016-01-24 21:04] khellang commented on #338
What about an answer and close it instead?

[2016-01-24 21:06] davidfowl commented on #338
https://github.com/aspnet/Mvc/issues/3726#issuecomment-163535556

Nope :smile:

[2016-01-24 22:39] khellang commented on #338
I don't get it. Is that the answer? How does that relate to this?

I don't really care about the interface, but there has to be some way to get a hold of the concrete type to call dispose on it, without resorting to casting etc.?

[2016-01-25 00:00] Eilon commented on #350
Yup, this is due to the renaming. As it's all a work in progress right now, I'm closing this bug because we are still cleaning up leftover bits from the rename. We recommend using the aspnetvnext feed in the meantime, which has a functional build.

[2016-01-25 00:00] #350 closed

[2016-01-25 09:11] seesharper commented on #350
Thanks for your swift response :) This might be another issue, but I noticed that the Microsoft.Extensions.DependencyInjection.Specification.Tests package cannot be installed outside an ASP.NET project. Although it is compiled for Net451, there seems to be a problem with the NuGet package complaining it is unable to add a reference to System.Runtime. The reason I like to do my LightInject adapter

[2016-01-25 16:27] pranavkm commented on #350
@davidfowl says it is being addressed by https://github.com/dotnet/cli/pull/1012

[2016-01-25 17:55] Eilon commented on #338
Yeah not sure what @davidfowl is talking about there...

But the answer for now is that unfortunately we don't have a good answer on this. I think creating a scope immediately is an acceptable workaround in the meantime. This is certainly something we can reconsider.

[2016-01-27 01:50] Eilon commented on #260
We've made some improvements as part of the Specification tests: https://github.com/aspnet/DependencyInjection/tree/dev/src/Microsoft.Extensions.DependencyInjection.Specification.Tests

[2016-01-27 01:50] #260 closed

[2016-01-27 01:51] Eilon commented on #287
@davidfowl @lodejard how strongly do we care about this at this point?

[2016-01-27 03:48] davidfowl commented on #287
I care about this a lot, mvc and ef are the worst offenders and we should take a look at why we need to do it so much

[2016-01-27 08:59] lodejard commented on #287
It's kind of an evergreen issue, something to watch out for in new code in general, and good to make a pass and see if there's more hanging fruit? Maybe it's part of a best practices kind of thing - calling GetService should be a last resort, something people should question if they see it in a PR, and should also be accompanied with a comment "why this spot in the code can't use DI"

[2016-01-27 12:41] davidfowl commented on #287
It needs to be in the our coding guidelines. We can close this issue and formiulate guidance like @lodejard said.

[2016-01-27 22:10] pranavkm commented on #233
@davidfowl this probably shouldn't be an issue now with `imports` + cli. Does that sound right?

[2016-01-28 22:11] TrabacchinLuigi opened #352 "Question: What if i need two instances of entity context in a controller ?"
i have investigated many solutions for this *particular need.

But I'd like to receive advice from this community since i wasn't able to get any answer on stack overflow, where [i originally posted my question](http://stackoverflow.com/questions/34787406/having-more-than-one-entity-context), since my concern are about test-ability, injection, the way entity framework is "integrated" in asp.net i t

[2016-01-29 21:51] Eilon commented on #352
@lodejard do you have any thoughts on this?

[2016-01-29 21:58] lodejard commented on #352
Hi @TrabacchinLuigi, can you push a tiny sample web app to github showing a small example of the code you'd expect to write which doesn't work?

I think this might be less of a DI question and more of a DbContext one... @divega, does this situation sound familiar?

[2016-01-30 00:25] TrabacchinLuigi commented on #352
I can prepare some samples,  but it will take me some days.
What is not working actually is the serialization, because of circular references, I do know how to serialize them the point is I don't want to and since I did not any query into the controller function to fetch more data than the one I wanted it is confusing so I guess having more dB contexts would be nice, but how?

[2016-01-30 01:27] divega commented on #352
@TrabacchinLuigi Trying to respond first to your SO question and various solution attempts: you are right to think that in some situations setting `context.Database.ChangeTracker.QueryTrackingBehavior = Microsoft.Data.Entity.QueryTrackingBehavior.NoTracking` or just using `AsNoTracking()` on individual queries can help, but other times you'll need to have more than one instance of the DbContext cr

[2016-02-01 09:09] TrabacchinLuigi commented on #352
The only problem in changing the constructor signature in my derived type is that identity framework does not expose an constructor who take IServiceProvider, so, even if it is very easy to re-implement that, i guess many people would not want to, in case it will change in the future...
P.s. are the examples still needed ?

[2016-02-04 07:01] pepevc opened #357 "Question: How do you use DependencyInjection in a Console App?"
I want to build a WebJob that has access to my infrastructure but there are no examples online anywhere about how to register services nor how to use them in a Console App.

[2016-02-04 08:13] andrew-vandenbrink opened #358 "Dependency Injection on every action request without modifying controller's code (AOP)"
[code]

Is there any way to do this in asp.net?
Let's say I want to log every action request, if I use DI, i'll have to modify controller's code to have the service. If I use ActionFilter, I still have to mark the controller with attribute.

Something like this in Startup.cs
[code]
Any way asp.net support this use case?

[2016-02-04 08:30] davidfowl commented on #358
You can add global filters in MVC. Please ask that question on that repository.

[2016-02-04 08:30] #358 closed

[2016-02-04 09:21] chr1sk0n commented on #357
Maybe this post can help:
ASP.NET 5 - A Deep Dive into the ASP.NET 5 Runtime
https://msdn.microsoft.com/en-us/magazine/dn913182.aspx

[2016-02-04 10:23] pepevc commented on #357
It is still not clear how can I get my services registered in a
configureservices method and injected in my program constructor.
On Feb 4, 2016 10:21 AM, "chr1sk0n" <notifications@github.com> wrote:

[2016-02-04 18:40] pepevc commented on #357
An sketch of what someone would expect coming from a WebApp:

`    public class Program
    {
        public IConfigurationRoot Configuration { get; set; }
        public IServiceProvider ServiceProvider;

        public Program(IApplicationEnvironment env, IRuntimeEnvironment runtime)
        {
            // What can I do with env and runtime?
            var services = new ServiceCollection();

[2016-02-04 19:40] khellang commented on #357
There's no such things as a `ConfigureServices` or injecting anything in `Program`'s constructor for a console application (or a web app for that matter, it's all been removed).

Something like this should work:

[code]

If you're running with DNX and you need access to the platform services, you can add the `Microsoft.Extensions.PlatformAbstractions` package and use `PlatformServices. Default` to

[2016-02-04 20:00] pepevc commented on #357
I tried but I get this exception:

`No service for type 'IMyService' has been registered.`

This is the code:

[code]

If I change GetRequiredService for GetService I get:

`Unable to resolve service for type 'Microsoft.AspNet.Http.IHttpContextAccessor' while attempting to activate 'IMyService'.`

[2016-02-04 20:11] Eilon commented on #357
@pepevc silly question, but are you sure that your `ConfigureServices` method is adding the `Microsoft.AspNet.Http.IHttpContextAccessor` service to the container? It of course won't automatically show up there because this isn't running in ASP.NET - it's your own console app.

[2016-02-04 20:27] pepevc commented on #357
I came here to update the finding: that was it. I am wondering why the EntityFramework needs that service...

Thank you all.

Hint: The VS template should include some DI in the basic Console App. At least the Configuration builder.

[2016-02-04 21:04] Eilon commented on #357
@pepevc consider starting a discussion in https://github.com/aspnet/EntityFramework/issues/ for that.

The reason the VS template doesn't have DI or config is to closely match what the regular Console App project template in VS always had: just the most basic stuff to get a generic app running.

[2016-02-04 21:04] #357 closed

[2016-02-05 05:47] pepevc commented on #357
It would be just another project template, in the same fashion we have with WebApps (Empty, with Authentication, etc).

I just recreated a Startup class that configures the services and then launches the Program with everything I need automatically injected in the Program constructor.

A simple template like this would be nice. Otherwise inexperienced people in this particular tech get lost trying

[2016-02-05 06:32] Eilon commented on #357
@pepevc you can file a suggestion in the Templates repo: https://github.com/aspnet/Templates/issues/

[2016-02-05 06:41] Eilon commented on #272
@natemcmaster @divega ok this bug has been getting a bit stale for a while. Are there any more recent thoughts on this issue? Any non-ugly ways we can resolve this?

[2016-02-05 18:27] Eilon commented on #272
Per a discussion with @natemcmaster this isn't needed anymore due to other changes in .NET Native.

[2016-02-05 18:27] #272 closed

[2016-02-05 18:47] Eilon commented on #352
@divega any further thoughts on this?

[2016-02-05 21:51] divega commented on #352
Yes, two more thoughts:

- We added all the `IdentityDbContext` constructors that were missing in https://github.com/aspnet/Identity/commit/ada5756c874bec41b19b492e102c31930a09bd5d a couple of days ago. They will be included in RC2.
- In https://github.com/aspnet/EntityFramework/issues/4441 I have created an issue to track some other ideas on how to improve the experience for this scenario, e.g. i

[2016-02-05 21:51] #352 closed

[2016-02-05 22:08] divega commented on #352
@TrabacchinLuigi One more thing I realized while answering your question in SO: I forgot to ask you for more details about the circular reference. Maybe that is something you can avoid in other ways.

[2016-02-06 01:39] TrabacchinLuigi commented on #352
Well avoiding circular references in queries I did in that method is easy the problem was finding out I got an user connected to the post I queried because that user is the logged one and also the creator of the post, maybe identity framework should use AsNoTracking() or I found a bug

Also creating a new post gave me some troubles, after I added the entity with my userId only and did a SaveChange

[2016-02-06 21:10] pepevc opened #359 "Question: What's a "Scope" outside a WebApp?"
Is there any way to control what the lifespan of a Scope is?

[2016-02-06 21:14] pepevc commented on #359
Now I now it. I had to browse the source code to know it.

[2016-02-06 21:14] #359 closed

[2016-02-12 17:56] davidfowl opened #360 "Add ability to have multiple service types per definition"
I want to be able to get the same instance for this type of definition:

[code]

[code]

This works but is less efficient.

[code]

This also works but I have to know the entire dependency graph to construct bar:

[code]

We'd have to look at how to support this, should it be a  service descriptor?

[code]

We also have to see if other DI containers support this.

[2016-02-12 18:29] dadhi commented on #360
[DryIoc](https://bitbucket.org/dadhi/dryioc/overview) supports this via [RegisterMany](https://bitbucket.org/dadhi/dryioc/wiki/RegisterResolve#markdown-header-registermany) and more specifically via [RegisterMapping](https://bitbucket.org/dadhi/dryioc/wiki/RegisterResolve#markdown-header-registermapping).

[2016-02-12 20:55] seesharper commented on #360
With regards to the API I think it is important to specify all interfaces along with the implementing type (or factory delegate) in one single registration method.

Consider this scenario

[code]

In this scenario we have no way to look at the implementing type at registration time to determine if both interfaces should resolve to the same instance or not. The intent here could just as well be tha

[2016-02-14 22:34] SebastianStehle opened #361 "Question: Dynamic service registration"
Hi,
I am playing around with a module system, inspired by https://github.com/ExtCore/ExtCore, you can find it under: https://github.com/SebastianStehle/AspNetModularity

I want to give extensions the opportunity to register custom services, but to register them I need to resolve dependencies. To be more precise I have the following interface:

    public interface IExtensionManager
    {
        I

[2016-02-19 01:56] dazxa opened #364 "Unable to resolve service for type error."
Hello,

I am developing a mvc application using a CustomClaimsPrincipalFactory.

The application works fine for 30 minutes, then throws the following error stack (in both IIS and visual studio). This can only then be resolved by clearing the browser cache.

Any ideas as to why this error is being thrown and how to remedy this. I've had to remove all [Authorize] attributes (and hence all security)

[2016-02-19 09:00] khellang commented on #364
@dazxa When you call `AddIdentity`, do you specify your custom `ApplicationUser` type? Like

[code]

[2016-02-21 06:51] Eilon commented on #361
@lodejard @sebastienros any thoughts on this?

[2016-02-21 06:58] Eilon commented on #364
Hmm this still looks super weird... how would the container all of a sudden lose the ability to instantiate something it once knew about??

[2016-02-21 17:59] lodejard commented on #361
Nice! That's probably the best way to do that, with a temporary container. The default container is immutable once build though, so you'll probably need to switch to one one that allows services to be added at runtime of you really need that capability.

[2016-02-21 18:17] matthewDDennis commented on #124
Back in 2010 I published an log post [Introduction to Munq IOC Container for ASP.NET](http://www.codeproject.com/Articles/43296/Introduction-to-Munq-IOC-Container-for-ASP-NET).  As part of this article, I compared the performance of the current 'standard' DI Containers.  Mine was the fastest,  not surprisingly as that was its primary design goal.

However, I updated the tests the other night and a

[2016-02-21 20:18] sebastienros commented on #361
In Orchard2 we register the service collection itself before the container is built, then we can resolve it, and build a third level of containers based on dynamic registration from our modules (your extensions). So we have a root container (Application) multiple tenant ones (with all the root services duplicated in them) and a scoped. At runtime we switch the Application container by the tenant o

[2016-02-21 22:19] dazxa commented on #364
Hi there,

Please see below for the relevant startup.cs code and ApplicaitonUser, CustomUserStore CustomClaimsPrincipalFactory classes.

Now, when I use the identity role:

[code]

Then this exception is thrown after 30 minutes, which again can only be resolved by clearing the browser cache:

[code]

Many thanks.

Darryl

[code]

[code]

[code]

[code]

[2016-02-22 15:29] seesharper commented on #124
You also might want to check out this benchmark.

https://github.com/danielpalme/IocPerformance

[2016-02-23 23:25] sebastienros commented on #332
I see that the overload `AddInstance(Type type, object instance)` has been removed, not just renamed as expected. I am opening an issue as this is blocking me right now.

[2016-02-23 23:27] sebastienros opened #366 "AddSingleton(Type, object) is missing"
There was an `AddInstance` with these parameters, and because I need it, I assume others will. Also confirmed with @halter73 that it should be here (but he was not really focused so it might be an oversight)

[2016-02-23 23:28] sebastienros commented on #366
Working on a PR in anticipation it gets approved.

[2016-02-23 23:33] sebastienros commented on #366
Well, it seems to be there and my package reference to be too old ...

[2016-02-23 23:35] pranavkm commented on #366
This exists - https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Extensions.DependencyInjection.Abstractions/ServiceCollectionExtensions.cs#L599

[2016-02-23 23:35] #366 closed

[2016-03-01 00:46] pranavkm commented on #233
This should be achievable via `imports` section supported by dotnet-cli. The import section would probably look like; `imports": "portable-net45+win8+wp8". See https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/project.json#L43 for an example.

[2016-03-01 00:46] #233 closed

[2016-03-01 18:36] Fosol opened #368 "DI RelfectionTypeLoadException"
Not sure if you've made this change in RC2 yet, but RC1 doesn't bother including the necessary information to debug most DI issues.  I'd like to know the type name that failed.

Retrieve the LoaderExceptions property for more information doesn't seem to be all that helpful.  I'm using the DeveloperException page too...

[2016-03-05 07:52] davidfowl commented on #368
This is super vague. Do you have a stack trace?

[2016-03-05 07:55] davidfowl commented on #338
We'd have to expose the concrete type (which we were trying to avoid) from BuildServiceProvider

[2016-03-05 15:19] Fosol commented on #368
That is the way i felt too lol.  I should have included more info when the exception kept occuring.  It was another developers instance, so I'll have to try and reproduce.

[2016-03-07 00:20] Eilon commented on #360
Backlog.

[2016-03-07 00:20] #361 closed

[2016-03-07 00:21] Eilon commented on #364
@kichalla can you try to repro?

[2016-03-07 07:58] davidfowl opened #372 "Codegen dependent types instead of one at a time"
Today calls to > 2 GetService(type) triggers compilation of an expression tree that represents the construction of the specified type. None of the related types are compiled at that point but should be. Here's an example:

[code]

The expression trees look roughly like this:

[code]

Notice B and C are contained in A's dependency graph and C is contained in B's dependency graph. Even when that's t

[2016-03-07 12:06] leolana opened #373 "Keep updated wiki"
Keep updated the wiki is essential to solidify the asp net DI, why is being difficult to leave the examples generated in own visual studio scaffolding or yeoman and go to a real project.

[2016-03-07 15:59] willwsharp opened #374 "Cannot find 'Microsoft.Framework.DependencyInjection.Abstractions'"
Hello. I am trying to build just a sample .net 5 web API and I'm attempting to use the built-in DI container. Whenever I try to run my API though, I keep getting the error:

"Could not load file or assembly 'Microsoft.Framework.DependencyInjection.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified."

I've looke

[2016-03-07 16:04] davidfowl commented on #374
Can you provide a repro project (preferably pushed to github)

[2016-03-07 16:10] willwsharp commented on #374
Yup sure will.  Working on that now.

[2016-03-07 16:14] willwsharp commented on #374
Here is the link: https://github.com/willwsharp/aspnet-Issue-374

[2016-03-07 16:16] pranavkm commented on #373
@leolana, docs for Asp.Net Core and it's components are located here - https://docs.asp.net. For instance en/latest/fundamentals/dependency-injection.html.

[2016-03-07 16:16] davidfowl commented on #374
What version of DNX are you using?

[2016-03-07 16:18] willwsharp commented on #374
Apologies ahead of time but I'm fairly new to .net 5; in my project.json it says "DNX451 under "frameworks", is that what you're looking for?

[2016-03-07 16:19] davidfowl commented on #374
Here's your problem https://github.com/willwsharp/aspnet-Issue-374/blob/master/CloudBasedAPITest/src/CloudBasedAPITest/project.json#L10, using beta7 mixed with your rc1-final packages.

If you're upgrading, I'd recommend making a new project and copying over dependencies.

[2016-03-07 16:20] pranavkm commented on #374
You'd have to update to using Kestrel \ IISPlatformHandler  - https://github.com/aspnet/ServerTests/blob/dev/test/ServerComparison.TestSites/project.json#L4-L5

[2016-03-07 16:21] willwsharp commented on #374
Can you explain in more detail please?  I was using the beta4 I change it to beta7 and I was having the same problem.

[2016-03-07 17:00] Hameds opened #375 "register DI Service with parameter"
Is this possible with current version of DI?
http://stackoverflow.com/questions/35849543/register-asp-net-di-service-with-parameter

[2016-03-07 17:37] Eilon commented on #373
Indeed, the docs are kept separate from the project repos.

[2016-03-07 17:37] #373 closed

[2016-03-07 17:48] pranavkm commented on #375
You could register a factory: `services.AddTransient<IEmailSender>(serviceProvider => new AuthMessageSender(something))` as long as `something` is reachable from your Startup code.

[2016-03-07 17:57] davidfowl commented on #374
Install the latest tools and runtime from http://get.asp.net. Make a new project, copy your old projects contents over (you need to port a the code because of API changes)

[2016-03-07 18:13] willwsharp commented on #374
Okay thanks I will do that.

[2016-03-07 18:13] #374 closed

[2016-03-08 19:52] davidfowl commented on #360
This repository has 2 things, the default container and the abstraction. The 2 aren't coupled. It's conceivable that features can be added to the container without breaking the DI abstraction. It's really up to us to decide how that works. Right now we don't add features that we aren't consuming ourselves so it's a good forcing function.

[2016-03-08 20:44] halter73 commented on #372
Interesting. This seems easy if we assume (probably inaccurately) that `GetService(A)` is called first or perhaps if we build the entire graph for all of our dependencies at startup. Is there an alternative to these options that I'm unaware of?

I'm a little concerned that greedily building the entire graph could negatively impact startup perf. This might not reduce the total amount of time buildi

[2016-03-08 20:50] davidfowl opened #378 "Add interface to allow container implementors to expose a more native service lookup for required services"
We're going to add this interface to allow container implementors to directly call into their intrinsics without checking for existence and returning null. It also lets GetRequiredService fail with container specific diagnostics instead of our own. This interface would be optional and we would light it up here:

https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Extensions.Depend

[2016-03-08 20:54] jeremydmiller commented on #378
Thank you. This will make it easier for StructureMap users to correct common registration problems that could be hidden behind the previously default `TryGetInstance<T>` mechanics.

Consider the case where a users is using some kind of conventional scanning to register types, and it finds two different concrete types of `IService` and registers each. In StructureMap, we will *not* choose either th

[2016-03-09 01:26] #375 closed

[2016-03-09 06:25] davidfowl opened #379 "Spec out implicit behaviors of the DI container and service collection"
Here's a good starting point:

https://github.com/simpleinjector/SimpleInjector/issues/41#issuecomment-111438146

We should capture all of these in our specification tests.

/cc @lodejard @Eilon @pranavkm

[2016-03-09 08:41] khellang commented on #379
That would be nice! :+1: `Microsoft.Extensions.DependencyInjection.Specification.Tests` is already a good starting point, but I still think there might be "undocumented" expected behaviors.

[2016-03-09 09:56] dadhi commented on #379
May be not a right place, but it is quite explicit and exemplary how [DryIoc](https://bitbucket.org/dadhi/dryioc/src/4884c3a7d7a7ca5783a6f9564d695da73c4ce6ee/DNX/DryIoc.Dnx.DependencyInjection/?at=default) setups DI adapter:

    if (container.ScopeContext != null)
        throw new ArgumentException(
            "Adapted container uses ambient scope context which is not supported by AspNetCore DI

[2016-03-09 10:29] davidfowl commented on #378
/cc @dadhi @seesharper @tillig

[2016-03-09 10:41] khellang commented on #378
Nice! :+1:

[2016-03-09 12:37] crammer opened #380 "Empty IHttpContextAccessor"
Hi,

I am trying to create a log that captures local and public IP.  I am doing this through HTML5 and saving the results in a cookie using document.cookie.  I am trying to retrieve the cookie value from an ordinary class.  Below are the codes from of my class:

[code]

I also refactored sessionhandler but I always came out with a NULL value for my IHttpContextAccessor.  Below are the codes for my

[2016-03-09 15:26] davidfowl commented on #380
This should be filed on aspnet/Home. It doesn't look related to dependency injection. It would also help if you provide a full repro project on github so we can actually run and see the issue. Also mention the versions of *everything* that you are using, dnx and packages.

[2016-03-09 22:36] crammer commented on #380
Hi David,

Thank you for your feedback.  Let me close this and open a new ticket.

[2016-03-09 22:36] #380 closed

[2016-03-10 10:58] davidfowl commented on #379
@dadhi it's definitely the right place :smile: :

[2016-03-10 11:49] leolana commented on #373
Ok, thank you.

[2016-03-10 21:18] cwe1ss opened #382 "Should it be possible to add primitive types?"
Hi! [There's a unit test](https://github.com/aspnet/DependencyInjection/blob/dev/src/Microsoft.Extensions.DependencyInjection.Specification.Tests/DependencyInjectionSpecificationTests.cs#L504) that adds a primitive type as a singleton to the collection:
[code]
Should this really be possible? What would be a usage scenario for this?

Castle Windsor for example [doesn't support it](https://github.co

[2016-03-10 21:22] davidfowl commented on #382
There's no scenario and I'm not sure why the test has it but we don't go out of our way to make it fail

[2016-03-10 21:30] cwe1ss commented on #382
Ok. Could you change this test? Castle Windsor throws an exception and I guess others might do so as well. And since this is not the purpose of that test, other containers shouldn't fail for such a reason IMO.

[2016-03-10 21:34] cwe1ss commented on #382
Maybe this line can just be removed? The test has a different purpose anyways.

[2016-03-10 21:36] pranavkm commented on #382
I think it's meant for the generic service to close over. We could replace it with a non-primitive type instead.

[2016-03-10 21:50] davidfowl commented on #382
Let's do that.

[2016-03-11 05:01] #382 closed

[2016-03-14 21:33] kichalla commented on #378
4f423f02d028f322a1610f671728008cdacf10b0

[2016-03-14 21:33] #378 closed

[2016-03-15 02:36] xatabhk opened #385 "The type 'IServiceProvider' is defined in an assembly that is not referenced"
[code]

Error: C:\downloads\web\projects\zaxitech_core\src\tbweb\Startup.cs(105,4): .NETFramework,Version=v4.5.1 error CS0012: The type 'IServiceProvider' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.ComponentModel, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

Adding System.ComponentModel to project.json will not help.

[2016-03-15 02:42] davidfowl commented on #385
Can you put your project on github and also say what DNX version you are using?

[2016-03-15 03:34] xatabhk commented on #385
Here is the sample.

Microsoft .NET Execution environment
 Version:      1.0.0-rc2-16595
 Type:         Clr
 Architecture: x86
 OS Name:      Windows
 OS Version:   10.0.10586
 Runtime Id:   win10-x86

.NET Command Line Tools (1.0.0-beta-001747)

Product Information:
 Version:     1.0.0-beta-001747
 Commit Sha:  58a8a10d41

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Pl

[2016-03-17 08:21] stefan505 commented on #385
Same issue here

[2016-03-17 09:20] Gillardo commented on #385
Same issue here, how do we sort this out?  Completely broke my app

[2016-03-17 09:26] stefan505 commented on #385
Thanks to the guys in JabbR:

[code]

[2016-03-17 09:29] Gillardo commented on #385
I tried this, but kept adding version numbers and it never worked.  This seems to work fine now, thank you!

[2016-03-17 09:30] wesleyolis opened #386 "ActivatorUtilities exceptions lack context"
# Background

Spent about a day of work attempting to resolve exception thrown from the activator.
We have many services from different projects that have been registered and upon integration of all of them, attempting to resolve one the services, the activator failed and threw an error.
This error, of the form "No parameter-less constructor defined", provided absolute no context
of which service

[2016-03-17 16:15] xatabhk commented on #385
@stefan505 That works.

[2016-03-17 17:07] pranavkm commented on #385
We're waiting to pick up newer CoreFX packages and I think that should solve these oddities. For the time being, @stefan505's suggestion should work.

[2016-03-20 16:28] eriksendc opened #388 "Getting A New ApplicationDbContext"
Hi All,

DbContext (and hence the default ApplicationDbContext DbContext that comes with an ASP.NET 5 template web application) is not thread safe. There are times when one wants to use Parallel.ForEach() and within it's lambda new up a db context (using a using block) so that you can parallelize a set of row-by-row database updates.

I've been trying to figure this out. I even tried injecting ISe

[2016-03-20 17:37] pranavkm commented on #388
Sounds like a question for [EF](https://github.com/aspnet/EntityFramework)?

[2016-03-20 18:16] eriksendc commented on #388
I'm not sure that that's true. A plain old DbContext can definitely still be created using a using block. I thin this question should be fielded by whoever knows about the ApplicationDbContext that's a part of the ASP.NET web application template, mixed with someone who knows about DI in ASP.NET 5/Core...

[2016-03-21 10:57] djjlewis opened #389 "InvalidOperation Exception: A circular dependency was detected for the service of type message is received when injecting class that depends on IAuthorizationService in a AuthorizationHandler"
Hi,

I'm not sure of the best place to put this issue i.e. in here or aspnet/security, but the issue is hopefully fairly straightforward to explain:

I have an ASP.NET website using the RC1 bits and I have a service class "ResourceService" that takes an IAuthorizationService as a dependency in the constructor, as one of the methods needs to use AuthorizeAsync on the resource to check if the curren

[2016-03-21 14:21] pranavkm commented on #389
The constructor of `DefaultAuthorizationService` lazy loads `IEnumerable<IAuthorizationHandler>` instances from the DI container. In your case, the `ResourceAuthorizationHandler` attempts to transitively DI in the `DefaultAuthorizationService` which is what's causing the cyclic check to kick in. It'd be useful to ask a question in the Security repo to figure out how you could refactor your code wh

[2016-03-21 16:26] djjlewis commented on #389
Many thanks for the quick response. As suggested I will ask over at /security for further advice...

[2016-03-23 03:57] endink opened #390 "How to export project (asp.net core libray) to UAP10"
try to use:

[code]

 after built, it cant add to UAP project, how to reuse my code ? Is there a document for "imports" section in project.json, thanks!

[2016-03-23 17:28] Eilon commented on #388
@divega @HaoK this seems to be a question around this code: https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Startup.cs#L45-L46

[2016-03-23 18:56] javiercn opened #391 "Consider implementing equality on ServiceDescriptor"
ServiceDescriptor is basically a data object, but it doesn't implement equality. That causes troubles when you are manipulating a service collection, for example, when you want to remove a descriptor. With equality, code like:

[code]
can simply be written as

[code]

[2016-03-23 20:26] Eilon commented on #391
I doubt this is really doable because service descriptors can include factories - how do you compare the equality of them? (Yes, you *can* compare equality of functions, but that's usually meaningless when there might be two delegates pointing to the same function.)

[2016-03-23 20:27] Eilon commented on #390
@bricelam any chance you know the magical incantation for this to work? Or does it not work right now?

[2016-03-23 20:28] Eilon commented on #389
Closing because it seems this issue isn't a DI issue.

[2016-03-23 20:28] #389 closed

[2016-03-23 21:32] bricelam commented on #390
Imports only affect how dependencies are resolved for *this* `project.json`.

To use a `netstandard` package with UWP, you'll need updated UWP tooling. There are currently a few bugs (see aspnet/EntityFramework#4802), but as far as I know, the updated tooling will ship as part of [Visual Studio 2015 Update 2](https://www.visualstudio.com/en-us/downloads/update2-prereleases).

[2016-03-23 21:37] davidfowl commented on #390
Is this a dependency injection question?

[2016-03-23 23:20] divega commented on #388
It does sound like an EF question to me :smile:

The `AddDbContext<TContext>()` method adds `TContext` as a scoped service, so if you resolved it in the same request from DI you will always get the same instance, and that is by design.

Although I am not sure it is a good idea to parallelize updates like you are describing, we do recognize that there are valid scenario for having multiple instance

[2016-03-23 23:44] eriksendc commented on #388
Thanks for your response @divega . I guess I'm assuming that this is more an ASP.NET concern than an EF one because I was guessing that the implementation details of ApplicationDbContext (extending IdentityDbContext<ApplicationUser>) and how it is all created by the template is not 'owned' by the EF team. Does the EF team own that? The way IdentityDbContext<ApplicationUser> is implemented it hides

[2016-03-23 23:48] divega commented on #388
I think what you see in the default template and ApplicationDbContext is mostly usage of patterns provided by EF, e.g. the `AddDbContext<TContext>()` method is defined in EF.

I actually hit the comment button too soon. Here is some more information:

* The ability to create multiple instances of a `DbContext in the same request is discussed here: https://github.com/aspnet/EntityFramework/issues/4

[2016-03-23 23:49] divega commented on #388
I am going to go ahead and close this issue because I am confident that I have responded to your question, but feel free to reactivate or to start a new thread in the EF repo.

[2016-03-23 23:49] #388 closed

[2016-03-24 02:58] endink commented on #390
@davidfowl i want to use dependency injection to UWP (adapter for Prism Library DI).

[2016-03-24 03:33] davidfowl commented on #390
It wasn't clear from the `project.json`. You'll need to wait for the nuget vsix update.

[2016-03-24 03:33] davidfowl commented on #390
/cc @emgarten @yishaigalatzer

[2016-03-24 13:35] SPARTAN563 opened #392 "Validate presence of constructor argument types when calling BuildServiceProvider"
# Background

When defining a service which accepts dependencies through its constructor, you expect that all required services are present in the container for its construction. One would expect that, failing this contract, an exception would be thrown when building the container.
# Issue

At the moment, it is possible to register a service whose constructor requires services not present in the c

[2016-03-24 13:58] wesleyolis opened #393 "Ability to register required services on ServiceCollections which BuildServiceProvider Validates"
# Issue

When registering a module internal services, one would except, to have the ability to register all external required dependent services that are to be present as well. Upon failing that contract for required services and exception would be thrown when building the container(BuildServiceProvider).

# Suggestions

The ability to register a list of dependent services, upon which a module dep

[2016-03-24 14:09] SPARTAN563 opened #394 "Make it possible to retrieve a factory from the service container"
# Background

Currently, when implementing systems which require the ability to dictate the lifecycles of child services, you are required to make use of `GetService()` or `GetRequiredService()` and inject an `IServiceProvider`.

We've run into issues (in rare cases, but those are always the worst kind) where the services being requested are not registered and this only becomes known when an event

[2016-03-24 19:48] emgarten commented on #390
@endink if the project above creates a nupkg it should not use imports. Imports should only be used as a workaround for top level projects (apps) which will not be used to create nupkgs.

To create a nupkg that works for UAP the project framework should be uap10.0.

[2016-03-26 11:35] xatabhk opened #395 "An unhandled exception has occurred: Cannot cast Newtonsoft.Json.Linq.JObject to Newtonsoft.Json.Linq.JToken."
"dotnet run" returns error:
![json_err](https://cloud.githubusercontent.com/assets/6814395/14059821/48305c0c-f38a-11e5-92f9-af6572ab080f.png)

while "dnx web" works.